﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_HeaderResources")
</head>
<body class="login-layout">
    @RenderBody()
</body>
</html>
