﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_HeaderResources")


</head>
<body>
    @RenderBody()
</body>
</html>
