﻿<!-- basic styles -->

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
<link href="~/Styles/main.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript" src="~/assets/js/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.form.min.js"></script>
<!--[if IE 7]>
      <link rel="stylesheet" href="~/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
<!-- fonts -->
@*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />*@

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<!-- ace settings handler -->

<script src="~/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
      <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="~/assets/js/html5shiv.js"></script>
<script src="~/assets/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="~/assets/js/layer/layer.js"></script>
<style type="text/css">
    @@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/assets/font/glyphicons-halflings-regular.eot');
    src: url('/assets/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/font/glyphicons-halflings-regular.woff') format('woff'), url('/assets/font/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    }
</style>