﻿<ul class="nav nav-list">
    <li>
        <a href="/manage/index">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 控制台 </span>
        </a>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> 用户管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            @*<li>
                <a href="/user/studentlist">
                    <i class="icon-double-angle-right"></i>
                    学生管理
                </a>
            </li>*@

            <li>
                <a href="/user/teacherlist">
                    <i class="icon-double-angle-right"></i>
                    教师管理
                </a>
            </li>

        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-list"></i>
            <span class="menu-text"> 单位管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/unit/unitlist">
                    <i class="icon-double-angle-right"></i>
                    学校管理
                </a>
            </li>

            
        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 系统管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/sysconfig/dataroutelist">
                    <i class="icon-double-angle-right"></i>
                    数据库路由表
                </a>
            </li>

            <li>
                <a href="/sysconfig/dataconfiglist">
                    <i class="icon-double-angle-right"></i>
                    参数配置
                </a>
            </li>

            
        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-tag"></i>
            <span class="menu-text"> 资源管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/resource/questiontypelist">
                    <i class="icon-double-angle-right"></i>
                    题型管理
                </a>
            </li>

            <li>
                <a href="/resource/questionbanklist">
                    <i class="icon-double-angle-right"></i>
                    题库管理
                </a>
            </li>

            <li>
                <a href="/resource/subjectlist">
                    <i class="icon-double-angle-right"></i>
                    课程管理
                </a>
            </li>

            <li>
                <a href="/resource/gradelist">
                    <i class="icon-double-angle-right"></i>
                    学段管理
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-file-alt"></i>

            <span class="menu-text">
                统计信息
            </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="faq.html">
                    <i class="icon-double-angle-right"></i>
                    帮助
                </a>
            </li>

            <li>
                <a href="error-404.html">
                    <i class="icon-double-angle-right"></i>
                    404错误页面
                </a>
            </li>

            <li>
                <a href="error-500.html">
                    <i class="icon-double-angle-right"></i>
                    500错误页面
                </a>
            </li>

            <li>
                <a href="grid.html">
                    <i class="icon-double-angle-right"></i>
                    网格
                </a>
            </li>

            <li>
                <a href="blank.html">
                    <i class="icon-double-angle-right"></i>
                    空白页面
                </a>
            </li>
        </ul>
    </li>

</ul>