﻿@using EduPlatform.Manage.Infrastructure
@model NavigateInfo

<div class="page-header">
    <h1>
        @Model.Name
        <small>
            <i class="icon-double-angle-right"></i>
            查看
        </small>
    </h1>
</div>
<!-- /.page-header -->