﻿@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "修改密码",
        IsHome = false,
        Href = "/account/index",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/account/index", Parent = null, IsHome = true, Name = "修改密码"
           }
        }
    };
}

@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}


<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/account/updatepwd" method="post">

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right">  </label>
            <div class="col-sm-9">
                @ViewBag.Msg
            </div>

        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 原密码 </label>
            <div class="col-sm-9">
                <input type="password" class="col-xs-10 col-sm-5" placeholder="原密码" id="txtOldPassword" name="OldPassword">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 新密码 </label>
            <div class="col-sm-9">
                <input type="password" class="col-xs-10 col-sm-5" placeholder="新密码" id="txtNewPassword" name="NewPassword">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 密码确认 </label>
            <div class="col-sm-9">
                <input type="password" class="col-xs-10 col-sm-5" placeholder="密码确认" id="txtConfirmPassword" name="ConfirmPassword">
            </div>
        </div>



        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>