﻿@{
    Layout = null;
}
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" ng-app="tcApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>名师微课</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/zTree.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/default/layer.css" rel="stylesheet" />
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/linq.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.ztree.all-3.5.js"></script>
    @*<script src="~/Scripts/tree/js/bootstrap-treeview.js"></script>*@
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/dropload.js"></script>
    <script type="text/javascript">
        angular.module("tcApp", ["dataServices"]);

        function replay(videoid) {
            var pdom = parent.document.getElementById('tulie');
            angular.element(pdom).scope().goplay(videoid);
        }

        function refresh() {
            //刷新收藏列表
            var pdom = parent.document.getElementById('tulie');
            angular.element(pdom).scope().searchVideo();
        }

        function refreshPlayedList() {
            var pdom = document.getElementById('tulie');
            angular.element(pdom).scope().initPlayedList();
        }

        //调整屏幕尺寸
        function changePanel() {
            document.getElementById("fanhui").style.height = (document.documentElement.clientHeight - 35) + "px";
            document.getElementById("tulie").style.height = (document.documentElement.clientHeight - 250) + "px";
        }
        $(function () {
            changePanel();
            $(window).resize(function () {
                changePanel();
            });

            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
            var nScrollTop = 0;   //滚动到的当前位置
            var nDivHight = $("#tulie").height();
            $("#tulie").scroll(function () {
                nScrollHight = $(this)[0].scrollHeight;
                nScrollTop = $(this)[0].scrollTop;
                var paddingBottom = parseInt($(this).css('padding-bottom')), paddingTop = parseInt($(this).css('padding-top'));
                if (nScrollTop + paddingBottom + paddingTop + nDivHight >= nScrollHight) {
                    var scope = angular.element(document.querySelector('#tulie')).scope();
                    scope.pageindex++;
                    scope.searchVideo().then(function () { }); //scope.$apply(); });
                }
            });
        })
    </script>
    <script src="~/Scripts/domain/controllers/mainCtrl.js"></script>
    <script src="~/Scripts/domain/services/dataservice.js"></script>
</head>
<body class="bj" ng-controller="mainCtrl" ng-cloak>
    <input type="hidden" value="@ViewBag.UserId" id="hiduserid" />
    <!--弹出子页start-->
    <div id="conditionpanel" ng-if="conditionSign==0" ng-include="'htmls/gradechoose.html'"></div>
    <div id="conditionpanel" ng-if="conditionSign==1" ng-include="'htmls/subjectchoose.html'"></div>
    <div id="conditionpanel" ng-if="conditionSign==2" ng-include="'htmls/bookpresschoose.html'"></div>
    <div id="conditionpanel" ng-if="conditionSign==3" ng-include="'htmls/subgradechoose.html'"></div>
    <div id="conditionpanel" ng-if="conditionSign==4" ng-include="'htmls/bookchoose.html'"></div>
    <div id="conditionpanel" ng-if="conditionSign==5" ng-include="'htmls/knowledgechoose.html'" onload="initKnowledgeTree()"></div>
    <div id="conditionpanel" ng-if="conditionSign==6" ng-include="'htmls/playedlist.html'" onload="initPlayedList()"></div>
    <div id="conditionpanel" ng-if="conditionSign==7" ng-include="'htmls/collectlist.html'" onload="initCollectList()"></div>
    <div id="conditionpanel" ng-if="conditionSign==8" ng-include="'htmls/search.html'" onload="initSearchedList()"></div>
    <div id="conditionpanel" ng-if="conditionSign==9" ng-include="'htmls/search.html'" onload="initSearchedList()"></div>
    <div id="conditionpanel" ng-if="conditionSign==10" ng-include="'htmls/orderchoose.html'"></div>
    <!--弹出end-->
    <div class="gridContainer clearfix"></div>
    <!--框start-->
    <div class="fan2"><a href="#"><img ng-click="DeviceClose()" src="images/a9.png"></a></div>

    <div class="ke" style="margin-bottom:0px;">
        <div class="fanhui" id="fanhui">
            <div class="fanhui_left">
                <img src="images/a10.png">
            </div>
            <div class="fanhui_right">
                <a href="#" ng-click="changeCondition(6)"><img src="images/a11.png"></a>
                <a href="#" ng-click="showCollect()"><img src="images/a12.png"></a>
                <a href="#"><img ng-click="changeCondition(5)" src="images/a13.png"></a>
            </div>
            <div style="clear: both;"></div>
            <div class="xueduan">
                <div class="xueduan-left">
                    <ul>
                        <li>学段：<a href="#" ng-click="changeCondition(0)">{{videoquery.gradeinfo.GradeName}}<img src="images/a16.png"></a></li>
                        <li>学科：<a href="#" ng-click="changeCondition(1)">{{videoquery.subjectinfo.SubjectName}}<img src="images/a16.png"></a></li>
                        <li>教材版本：<a href="#" ng-click="changeCondition(2)">{{videoquery.bookpressinfo.PressName.length>3?videoquery.bookpressinfo.PressName.substr(0,3)+'...':videoquery.bookpressinfo.PressName}}<img src="images/a16.png"></a></li>
                        <li>年级：<a href="#" ng-click="changeCondition(3)">{{videoquery.subgradeinfo.SubGradeName}}<img src="images/a16.png"></a></li>
                        <li>册别：<a href="#" ng-click="changeCondition(4)">{{videoquery.bookinfo.BookName}}<img src="images/a16.png"></a></li>
                        <li>排序：<a href="#" ng-click="changeCondition(10)">{{videoquery.orderinfo.ordername}}<img src="images/a16.png"></a></li>
                    </ul>
                </div>
                <div class="xueduan-right" style="position:absolute;right:15px"><a href="#" ng-click="changeCondition(8)"><img src="images/a15.png"></a></div>
            </div>
            <!--下拉框start-->
            <div style="clear: both;"></div>
            <div class="tulie" id="tulie" style="overflow-y:auto">
                <div class="tu3" ng-repeat="video in videolist">
                    <div class="tu3-top">
                        <div class="tu3-top-xing">
                            <a href="#">
                                <img ng-click="collectVideo(video)" src="{{video.UserCollectCount==0?'images/a19.png':'images/a18.png'}}">
                            </a>
                        </div>
                        <div class="tu3-top-shou">
                            <a href="javascript:void(0)"><img ng-click="recommendVideo(video)" src="{{video.UserRecommend==0?'images/a21.png':'images/a20.png'}}"></a>
                        </div><a href="#"></a>

                        <div class="tu3-top-shi">{{video.VideoLengthInfo}}</div>

                        <img style="height:160px;" src="~/Videos/{{video.VideoPath}}/video.jpg" class="tupp">
                        <div class="tu3-top-kai"><a href="#"><img ng-click="playVideo(video)" src="images/a22.png"></a></div>
                    </div>
                    <div class="tu3-bottom">
                        <h1><a href="#">{{video.VideoName.length>25?video.VideoName.substr(0,25)+'...':video.VideoName}}{{video.VideoAuthor.length>0?('--'+video.VideoAuthor):'' }}</a></h1>
                        <div class="tu3-bottom-left">{{video.VideoAddDate}}</div><div class="tu3-bottom-right">{{video.PlayedCount}}浏览 {{video.RecommendCount}}推荐</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <!--下拉框end-->
            <div style="clear: both;"></div>
        </div>
    </div>
    <!--框end-->
</body>
</html>
