﻿@{
    Layout = null;
}
@*@model List<TeacherClassRoomModel.ViewModel.SubjectVideoCount>*@

<!--[if IE 8]><html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" ng-app="collectApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/boilerplate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Scripts/tree/css/bootstrap-treeview.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/default/layer.css" rel="stylesheet" />
    <!--
    To learn more about the conditional comments around the html tags at the top of the file:
    paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

    Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
    * insert the link to your js here
    * remove the link below to the html5shiv
    * add the "no-js" class to the html tags at the top
    * you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build
    -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/linq.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/tree/js/bootstrap-treeview.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        angular.module("collectApp", ["dataServices"]);
        function changePanel() {
            //document.getElementById("fanhui").style.height = (document.documentElement.clientHeight - 160) + "px";
            //document.getElementById("tulie").style.height = (document.getElementById("fanhui").style.height - 950) + "px";
        }

        function replay(videoid) {
            parent.replay(videoid);
        }

        function refresh() {
            var pdom = parent.document.getElementById('tulie');
            angular.element(pdom).scope().searchCollectVideo();
        }

        function refreshPlayedList() {
            parent.refreshPlayedList();
        }

        $(function () {
            changePanel();
            $(window).resize(function () {
                changePanel();
            });

            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
            var nScrollTop = 0;   //滚动到的当前位置
            var nDivHight = $("#tulie").height();
            $("#tulie").scroll(function () {
                nScrollHight = $(this)[0].scrollHeight;
                nScrollTop = $(this)[0].scrollTop;
                var paddingBottom = parseInt($(this).css('padding-bottom')), paddingTop = parseInt($(this).css('padding-top'));
                if (nScrollTop + paddingBottom + paddingTop + nDivHight >= (nScrollHight-10)) {
                    var scope = angular.element(document.querySelector('#tulie')).scope();
                    scope.pageindex++;
                    scope.searchCollectVideo();
                }
            });
        });
    </script>
    <script src="~/Scripts/domain/controllers/collectCtrl.js"></script>
    <script src="~/Scripts/domain/services/dataservice.js"></script>
</head>
<body class="bj" ng-controller="collectCtrl">
    <input type="hidden" value="@ViewBag.UserId" id="hiduserid" />
    <div class="gridContainer clearfix"></div>
    <!--框start-->
    <div class="fan2"><a href="#"><img onclick="closeSelf();" src="~/Images/a9.png"></a></div>

    <div class="ke" style="float:left;margin-bottom:0px;">
        <div class="fanhui" id="fanhui" style="height:95%" ng-cloak>
            <div class="fanhui_left">
                <img src="~/Images/a50.png">
            </div>
            <div class="fanhui_right">
                <a href="#" ng-click="setChooseMode(1)" ng-show="ischoose==0"><img src="~/Images/a51.png" /></a>
                <a href="#" ng-show="ischoose==1" ng-click="setSelectAll()"><img src="~/Images/a52.png"></a>
                <a href="#" ng-show="ischoose==1" ng-click="removeCollect()"><img src="~/Images/a53.png"></a>
                <a href="#" ng-click="setChooseMode(0)" ng-show="ischoose==1"><img src="~/Images/a54.png"></a>
            </div>
            <div style="clear: both;"></div>
            <div class="xueduan8">
                <div class="xueduan8-left">
                    <ul>
                        <li style="cursor:pointer" ng-click="changeSubject('')" ng-class="{true: 'diand', false: ''}[choosesubjectcode.length==0]">全部<a href="#">（{{subjectvideocountinfo.totalcount}}）</a></li>
                        <li ng-repeat="subject in subjectvideocountinfo.subjectvideocount" ng-class="{true: 'diand', false: ''}[choosesubjectcode==subject.SubjectCode]" ng-click="changeSubject(subject.SubjectCode)" style="cursor:pointer">{{subject.SubjectName}}<a href="#">（{{subject.VideoCount}}）</a></li>                
                    </ul>
                </div>
                <div class="xueduan8-right" style="padding-top:20px;"><a href="javascript:void(0)" ><img ng-click="conditionSign = 1" src="~/Images/a15.png"></a></div>
            </div>
            <!--下拉框start-->
            <div style="clear: both;"></div>
            <div class="tulie" id="tulie" style="overflow-y:auto;height:75%;">
                <div class="tu3" ng-repeat="video in subjectvideocountinfo.videolist">
                    <div class="tu3-top">
                        <div class="tu3-top-xing"><input class="kuang12" ng-show="ischoose==1" name="checkbox" type="checkbox" value="{{video.VideoID}}" ng-checked="select_all"></div>
                        <div class="tu3-top-shou" style="left:218px;">
                            <a href="javascript:void(0)"><img ng-click="recommendVideo(video)" ng-src="{{video.UserRecommend==0?'/Images/a21.png':'/Images/a20.png'}}"></a>
                        </div><a href="#"></a>

                        <div class="tu3-top-shi" style="left:10px;">{{video.VideoLengthInfo}}</div>
                        <img style="height:160px;" src="~/Videos/{{video.VideoPath}}/video.jpg" class="tupp">
                        <div class="tu3-top-kai"><a href="#" ng-click="playVideo(video)"><img src="~/Images/a22.png"></a></div>
                    </div>
                    <div class="tu3-bottom">
                        <h1><a href="#">{{video.VideoName.length>25?video.VideoName.substr(0,25)+'...':video.VideoName}} - {{video.VideoAuthor}}</a></h1>
                        <div class="tu8-bottom-left">收藏时间 {{video.VideoAddDate}}</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <!--下拉框end-->
            <div style="clear: both;"></div>
        </div>
    </div>
    <div id="searchlistcontainer" ng-if="conditionSign==1" ng-init="initSearchedList()" ng-cloak>
        <div class="tan-bei" ng-click="conditionSign=-1"></div>
        <div class="sou">
            <div class="sou-left">
                <div class="sou-top">
                    <a href="#"><img src="~/Images/a31.png"></a>
                    <input class="sous" ng-keypress="searchPress($event)" type="search" name="search" placeholder="输入关键字搜索相关内容" id="search" ng-model="videoquery.videoname">
                    <a href="#" ng-click="manueSearch()"><img src="~/Images/a33.png"></a>&nbsp;&nbsp;
                    <a href="javascript:void(0)"><img ng-click="closeSearch()" src="~/Images/a34.png"></a>
                </div>
                <div class="sou-xia" style="height:320px;">
                    <div class="zuij">
                        <div class="zuij-left zuijin-sou">最近搜过</div>
                    </div>
                    <div class="zuij" ng-repeat="search in searchedlist" ng-click="selectSearchItem(search)">
                        <div class="zuij-left"><a href="#">{{search}}</a></div>
                        <div class="zuij-right"><a href="#" ng-click="removeSearchedItem(search)"><img ng-click="removeSearchedItem(search)" style=" margin-top:20px;" src="~/Images/a35.png"></a></div>
                    </div>
                </div>
                <div class="an-xia"><a href="#" ng-click="clearSearched()"><img src="~/Images/a29.png"></a></div>
            </div>
        </div>
    </div>
        <!--框end-->
    <script type="text/javascript">
        function closeSelf() {

            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
