﻿@{
    Layout = null;
}
@model TeacherClassRoomModel.ViewModel.VideoInfoViewModel
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" ng-app="playApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>名师微课</title>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/boilerplate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Scripts/tree/css/bootstrap-treeview.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/default/layer.css" rel="stylesheet" />
    <style type="text/css">
        .vid-wrapper{
            width:100%;
            position:absolute;
            left:0px;
            top:0px;
            padding-bottom:56.25%;    /*需要用padding来维持<a href="https://www.baidu.com/s?wd=16%3A9&tn=44039180_cpr&fenlei=mv6quAkxTZn0IZRqIHckPjm4nH00T1d9uWRkPWfvmH63PHDsnyRY0ZwV5Hcvrjm3rH6sPfKWUMw85HfYnjn4nH6sgvPsT6KdThsqpZwYTjCEQLGCpyw9Uz4Bmy-bIi4WUvYETgN-TLwGUv3EnHTsnWbLnHnznjc4nWmLnjDYn0" target="_blank" class="baidu-highlight">16:9</a>比例,也就是9除以16*/
            height: 0;
            margin:0px;
        }
        .vid-wrapper video{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%
        }
    </style>
    <!--
    To learn more about the conditional comments around the html tags at the top of the file:
    paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

    Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
    * insert the link to your js here
    * remove the link below to the html5shiv
    * add the "no-js" class to the html tags at the top
    * you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build
    -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/ckplayer/ckplayer.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/hls.js"></script>
    <script type="text/javascript">
        angular.module("playApp", ["dataServices"]);
    </script>
    <script src="~/Scripts/domain/controllers/playCtrl.js"></script>
    <script src="~/Scripts/domain/services/dataservice.js"></script>
</head>
<body class="bj" ng-controller="playCtrl" ng-init="playInit()">
    <input type="hidden" value="@ViewBag.UserId" id="hiduserid" />
    <div class="gridContainer clearfix"></div>
    <!--框start-->
    <div class="fan2"><a href="#"><img onclick="closeSelf();" src="~/Images/a9.png"></a></div>
    <div class="bobo" style="float:left">
        <div class="fan3" style="z-index:0"><a href="#" id="btnPlaylist" ng-click="conditionSign=1"><img class="you" src="~/Images/a37.png"></a></div>
        <div class="bobo-top">
            <p>@ViewBag.VideoName</p>
        </div>
        <div class="bobo-top"><p>@ViewBag.VideoAuthor</p></div>
        <div class="bobo-top2">上传时间：@ViewBag.VideoAddDate</div>
        <div class="bokuang" id="playarea">
            <video height="100%" width="100%" id="video" controls poster="@ViewBag.PicPath"></video>
        </div>
        <div class="bobo-zi" style="height:auto;overflow-y:inherit"><p><span>视频简介：</span>一定要看懂题。读题，明确条件这是基本的，还在读题的基础上做出一定的分析和思考，更深一点是明白出题人的意图。比如这道题，当你读到梯形并且AB=CD，需要想到什么？ok，等腰梯形，但止步与此是不行的，这个时候脑子中要过一遍等腰梯形的各种性质，比如底角相等，比如对角线相等，比如对角线分出两个等腰三角形，这些是学习的时候就应该掌握的基础，每做一道相关的题目都要能快速的过</p></div>
        <div class="bobo-dian">
            <a href="javascript:void(0)"><img id="imgIntroduce" ng-click="showIntroduce();" src="~/Images/a38.png"></a>
            @if (Model.UserCollectCount == 0)
            {
                <a href="javascript:void(0)"><img id="imgCollect" collect="0" ng-click="collectVideo()" src="~/Images/a39.png"></a>
            }
            else
            {
                <a href="javascript:void(0)"><img id="imgCollect" collect="1" ng-click="collectVideo()" src="~/Images/36.png"></a>
            }
            @if (Model.UserRecommend == 0)
            {
                <a id="imgRecommend" href="javascript:void(0)"><img ng-click="recommendVideo()" src="~/Images/33.png"></a>
            }
            
        </div>
        <div style="display:none" id="teacherContainer">
            <p align="left" class="MsoNormal" style="margin:0cm 0cm 0pt;text-align:left;/* line-height:200%; */mso-pagination:widow-orphan;">
                @ViewBag.TeacherIntroduce
            </p>
        </div>
    </div>
    <input id="hidvideoid" type="hidden" value="@ViewBag.VideoID" />


    <div id="playlistcontainer" ng-show="conditionSign==1" ng-cloak>
        <div class="tan-bei"></div>
        <div class="bolie666 tantantan" style="width:700px;">
            <div class="bolie-left" style="width:100%;">
                <div class="bolie-top">
                    <div class="bolie-top-left"><img src="~/Images/1.png"></div>
                    <div class="bolie-top-middle"><img src="~/Images/a41.png"><a href="#"><img id="closePlayedList" ng-click="conditionSign=0" class="youyou2" src="~/Images/a44.png"></a></div>
                    <div class="bolie-top-left"><img src="~/Images/3.png"></div>
                </div>

                <div class="bolie-bottom">
                    <div class="bolie8-xia">
                        <div class="bo6-qian" ng-repeat="video in playedlist track by video.videoid">
                            <div class="bo6-left" ng-click="playVideo(video)">
                                <p>
                                    <a href="#"></a>
                                    <a href="#"><span><img ng-if="videoid==video.videoid" src="~/Images/a23.png"></span>{{video.videoname.length>15?video.videoname.substr(0,15)+'...':video.videoname }}</a>
                                </p>
                            </div>
                            <div class="bo6-right"><a href="#" ng-click="removePlayedItem(video)">删除</a></div>
                            <div class="bo6-right"><p>{{video.videolengthinfo}}</p></div>
                            <div class="bo6-right"><p>{{video.subjectname}}</p></div>
                        </div>
                    </div>
                    <div class="an9-xia">
                        <a href="javascript:void(0)"><img ng-click="clearPlaylist()" src="~/Images/a45.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var videoMPath = '@ViewBag.VideoMPath';
        var videoPPath = '@ViewBag.VideoPPath';
        var videoPicture = '@ViewBag.PicPath';

        function closeSelf() {

            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }

        function BeginPlay(videopmpath, videoppath) {
            $('#playarea').empty();
            var flashvars = {
                f: '/ckplayer/m3u8.swf',
                a: videopmpath,
                c: 0,
                s: 4,
                lv: 0,
                p: 1,
                i: videoPicture
            };
            var params = { bgcolor: '#FFF', allowFullScreen: true, allowScriptAccess: 'always', wmode: 'transparent' };
            var video = [videoppath + '->video/mp4'];
            var support = ["all"];
            CKobject.embed('/ckplayer/ckplayer.swf', 'playarea', 'ckplayer_a1', '648', '348', false, flashvars, video, params);
        }
        BeginPlay(videoMPath, videoPPath);

        var isfull = false;
        var oldheight = $("#playarea").height();
        var oldwidth = $("#playarea").width();

        $(function () {
            document.onkeydown = function (ev) {
                var oEvent = ev || event;//获取事件对象(IE和其他浏览器不一样，这里要处理一下浏览器的兼容性event是IE；ev是chrome等)
                //Esc键的keyCode是27
                if (oEvent.keyCode == 27) {
                    $("#playarea").removeClass("vid-wrapper");
                    isfull = false;
                }
            }

            //$("#playarea").click(function () { alert('!'); });
            $("#playarea").click(function () {
                if (!isfull) {
                    $("#playarea").addClass("vid-wrapper");
                    $("#playarea").css({'width':''+$(window).width()+'','height':''+($(window).height()-30)+''});
                    isfull = true;
                }
                else {
                    $("#playarea").removeClass("vid-wrapper");
                    $("#playarea").css({ 'width': '' + oldwidth + 'px', 'height': '' + oldheight + 'px' });
                    isfull = false;
                }
            });
        })
        
        //加载Hls功能
        //if (Hls.isSupported()) {
        //    var video = document.getElementById('video');
        //    var hls = new Hls();
        //    hls.loadSource(videoMPath);
        //    hls.attachMedia(video);
        //    hls.on(Hls.Events.MANIFEST_PARSED, function () {
                
        //        //video.play();
        //    });
        //    hls.on(Hls.Events.MANIFEST_LOADED, function () {
        //        $(video).attr("poster", videoPicture);
        //    })
        //}
        //else {
        //    BeginPlay(videoMPath, videoPPath);
        //}
    </script>
    <!--框end-->
</body>
</html>
