﻿<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    function getAll() {
        $.ajax({
            url: "api/User/",
            type: 'GET',
            success: function (data) {
                document.getElementById("modes").innerHTML = "";
                $.each(data, function (key, val) {
                    var str = val.UserName + ': ' + val.PassWord;
                    $('<li/>', { html: str }).appendTo($('#modes'));
                });
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });
    }
    function find() {
        $.ajax({
            url: "api/User/1",
            type: 'GET',
            success: function (data) {
                document.getElementById("modes").innerHTML = "";
                $.each(data, function (key, val) {
                    var str = val.UserName + ': ' + val.PassWord;
                    $('<li/>', { html: str }).appendTo($('#modes'));
                });
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });
    }


    function add() {

        $.ajax({
            url: "api/User/",
            type: "POST",
            dataType: "json",
            data: { "Id": 4, "UserName": "admin", "PassWord": "666666" },
            success: function (data) {
                getAll();
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });

    }

    function removeUser() {
        $.ajax({
            url: "api/User/3",
            type: 'DELETE',
            success: function (data) {
                document.getElementById("modes").innerHTML = "";
                getAll();
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });
    }

    function removeAll() {
        $.ajax({
            url: "api/User/",
            type: 'DELETE',
            success: function (data) {
                document.getElementById("modes").innerHTML = "";
                getAll();
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });
    }

    function getUserByName() {
        $.ajax({
            url: "api/User/?username=lishi",
            type: 'GET',
            success: function (data) {
                document.getElementById("modes").innerHTML = "";
                var str = data.UserName + ': ' + data.PassWord;
                $('<li/>', { html: str }).appendTo($('#modes'));
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });
    }
    function udpate() {
        $.ajax({
            url: "api/User/1",
            type: 'PUT',
            dataType: "json",
            data: { Id: 1, "UserName": "admin", "PassWord": "666666" },
            success: function (data) {
                document.getElementById("modes").innerHTML = "";
                getAll();
            }
        }).fail(
        function (xhr, textStatus, err) {
            alert('Error: ' + err);
        });
    }
</script>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <button onclick="getAll();">获取全部</button>
            <button onclick="find();">获取id1</button>
            <button onclick="add();">新增一个</button>
            <button onclick="removeUser();">删除id3</button>
            <button onclick="removeAll();">删除全部</button>
            <button onclick="udpate();">更新id1</button>
            <button onclick="getUserByName();">根据用户名获取</button>
            <ul id="modes">

            </ul>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <form action="/api/user/SubmitTitle" enctype="multipart/form-data" method="post">
            姓名：<input name="username" /></br>
            年龄：<input name="userage" /></br>
            <input type="file" name="file" />
            <button type="submit">提交</button>
        </form>
    </section>
</div>
