﻿@using EduPlatform.Manage.Infrastructure
@{
    
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "学生管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "用户管理", Href = "/user/studentlist"
          }
        }
    };

    var puid = ViewBag.puid;
    var accountinfo = System.Web.HttpContext.Current.User as AccountInfoPrincipal;
    ViewBag.Title = navigate.Name;
}
@model List<EduPlatform.Domain.System.T_GradeInfo>
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/user/studentlist" })
}
@section Header{
<script type="text/javascript" src="/Scripts/user.js"></script>
<link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/demo.css" />
<link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/zTreeStyle/zTreeStyle.css" />
<script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript">

        var importopenindex = -1;

        var setting = {
            check: {
                enable: true,
                chkStyle: "radio",
                radioType: "all"
            },
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onClick: onClick,
                onCheck: onCheck
            },
            async: {
                enable: true,
                url: "/unit/getunits",
                autoParam: ["id", "name=n", "level=lv"],
                otherParam: { "pid": "0", "cid": "0", "selectedgui": '@puid' },
                dataFilter: filter
            }
        };

        var selectedUsers = [];

        //用户点击选择
        function userCheck(rowid, event) {
            var event = window.event || event;
            var checked = $(event.target).prop('checked');
            if (checked == true) {
                selectedUsers.push(rowid);
            }
            else {
                var index = -1;
                for (var i = 0; i < selectedUsers.length; i++) {
                    if (selectedUsers[i] == rowid) {
                        index = i;
                        break;
                    }
                }

                if (index > -1) {
                    selectedUsers.splice(index, 1);
                }
            }
        }

        //搜索
        function search(page) {
            var userloginname = $("#txtUserLoginName").val();
            var usertruename = $("#txtUserTrueName").val();

            if (userloginname.length > 50 || usertruename.length > 50) {
                layer.alert("用户名或登录名长度不得超过50", { icon: 2 });
                return;
            }

            var senddata = {
                url: '/user/StudentResultList',
                data: { Page: page, 'usertruename': usertruename, 'userloginname': userloginname },
                success: function (d) {
                    $("#Container").html(d);
                    $('.userlistcheck').each(function (index, val) {
                        var isexists = false;
                        for (var i = 0; i < selectedUsers.length; i++) {
                            if (selectedUsers[i] == $(val).val()) {
                                isexists = true;
                                break;
                            }
                        }
                        $(val).prop('checked', isexists);
                    });
                },
                error: function (d) { }
            };
            ajaxCall(senddata);
        }

        $(function () {
            search(1);

            var options = {
                success: function (data) {
                    if (data.ResponseCode == 1000) {
                        layer.msg(data.ResponseText, { icon: 1 });
                        search(1);
                    }
                    else {
                        layer.msg(data.ResponseText, { icon: 2 });
                    }

                    layer.close(importopenindex);
                }
            };

            $("#importform").ajaxForm(options);

            $.fn.zTree.init($("#treeDemo"), setting);
        });

        //修改用户状态
        function changeUserState(uid,state) {

            var msg = state==1?"确定要启用该账户吗？":"确定要禁用该账户吗？"

            layer.confirm(msg, {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var senddata = {
                    url: '/user/enableuser',
                    data: { 'uid': uid, 'state': state },
                    success: function (d) {
                        if (d.ResponseCode==1000) {
                            layer.msg('操作成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('操作失败,请检查输入', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }


        //删除学生
        function deleteStudent(uid,uname) {
            layer.confirm('确定要删除'+uname+'?', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var senddata = {
                    url: '/user/deleteuser',
                    data: { uid: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('删除成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('删除失败,请检查输入', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }

        //密码重置
        function resetpwd(uid,uname)
        {
            layer.confirm('确定要重置'+uname+'的登录密码？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var senddata = {
                    url: '/user/resetuserpwd',
                    data: { uid: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('重置成功,新密码为：'+d.Data, { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('重置失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }

        //用户编辑
        function UserEdit(uid) {
            window.location.href = "/user/useredit?uid="+uid;
        }

        //导入学生
        function importStudent() {
            importopenindex = layer.open({
                type: 1,
                title: '学生信息导入',
                maxmin: false,
                area: ['500px', '300px'],
                shade: false,
                scrollbar: false,
                content: $('#importUserContainer')
            });
        }

        //单位树控件点击
        function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.checkNode(treeNode, !treeNode.checked, null, true);
            return false;
        }

        //单位树控件选中
        function onCheck(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            nodes = zTree.getCheckedNodes(true),

            v = "";
            //alert(nodes[0].id);
            for (var i = 0, l = nodes.length; i < l; i++) {
                v += nodes[i].name + ",";
            }
            if (v.length > 0) v = v.substring(0, v.length - 1);
            var cityObj = $("#citySel");
            cityObj.attr("value", v);
            $("#parentUnit").attr("value", nodes[0].id);
        }

        //查看菜单
        function showMenu() {
            var cityObj = $("#citySel");
            var cityOffset = $("#citySel").offset();
            $("#menuContent").css({ left: cityOffset.left + "px", top: cityOffset.top + cityObj.outerHeight() - 40 + "px" }).slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }
        //隐藏菜单
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "citySel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
                hideMenu();
            }
        }

        //过滤数据
        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }

        function addUser() {
            window.location.href = "/user/useradd";
        }

        //批量审核
        function verifyList() {

            if (selectedUsers.length == 0) {
                layer.alert("请选择用户", { icon: 2 });
                return;
            }

            layer.confirm("确定审核通过吗?", {
                btn: ["确定", "取消"]
            }, function () {
                var senddata = {
                    url: '/user/verifyuserlist',
                    data: { uids: selectedUsers.join('|') },
                    success: function (d) {
                        if (d.ResponseCode==1000) {
                            layer.msg('审核成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('审核失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);

            }, function () {

            });
        }

    </script>
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>登录名:</td>
            <td><input type="text" id="txtUserLoginName"/></td>
            <td>姓名:</td>
            <td><input type="text" id="txtUserTrueName"/></td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            @if (accountinfo.IsAdmin == 1)
            {
                <td>
                    <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="importStudent();">
                        导入
                    </button>
                </td>
            }
            <td>
                <form target="_self" id="exportform" action="@Url.Action("ExportStudent")" method="post">
                    <button class="width-135 pull-right btn btn-sm btn-primary" type="submit">
                        导出
                    </button>
                </form>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" onclick="verifyList();">
                    批量审核
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" onclick="addUser();">
                    用户添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">

</div>
<div style="display:none;width:90%;" id="importUserContainer">
    <form class="form-horizontal" enctype="multipart/form-data" method="post" id="importform" action="@Url.Action("ImportStudent")">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段： </label>
            <div class="col-sm-9">
               
                @foreach (var g in Model)
                {
                    <div class="checkbox" style="padding-top:0px;">
                        <label>
                            <input type="radio" class="ace" name="grade" value="@g.Grade_ID">
                            <span class="lbl"> @g.Grade_Name </span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 单位： </label>
            <div class="col-sm-9">
                <input id="citySel" type="text" class="col-xs-10 col-sm-5" readonly value="@ViewBag.puname" onclick="showMenu();" />
                <input id="parentUnit" name="unit" type="hidden" value="@ViewBag.puid" />
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 文件上传： </label>
            <div class="col-sm-9" style="padding-top:5px;">
                <input type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button class="width-135 pull-right btn btn-sm btn-primary" type="submit">
                    提交
                </button>
            </div>
        </div>
    </form>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;z-index:19891212">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:280px; height: 300px;"></ul>
</div>



