﻿@using NPoco
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.SearchModel.User
@using EduPlatform.Framework
@using EduPlatform.ServiceModel
@using TeacherClassRoomModel.ViewModel
@model Page<StudentInfoViewModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <td>
                    选择
                </td>
                <th>用户名</th>
                <th>注册时间</th>
                <th>真实姓名</th>
                <th>注册渠道</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th>审核状态</th>
                <th>单位</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    <td class="center">
                        <input class="userlistcheck" value="@item.StuID" type="checkbox" onchange="userCheck('@item.StuID');" />
                    </td>
                    <td>
                        @item.LoginName
                    </td>
                    <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
                    <td class="hidden-480">@item.TrueName</td>
                    <td class="hidden-480">@EnumHelper.GetDescription((ClientType)item.ClientType)</td>
                    <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@(item.UserState == 1 ? "启用" : "禁用")</td>
                    <td>@(item.CheckState==1?"已审核":"未审核")</td>
                    <td>@item.UnitName</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            
                            <button class="btn btn-xs btn-info" onclick="UserEdit('@item.StuID');" title="修改用户信息">
                                <i class="icon-edit bigger-120" title="修改用户信息"></i>
                            </button>

                            <button class="btn btn-xs btn-success" onclick="resetpwd('@item.StuID', '@item.LoginName');" title="重置用户密码">
                                <i class="icon-ok bigger-120" title="重置用户密码"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" onclick="deleteStudent('@item.StuID','@item.LoginName');" title="删除用户">
                                <i class="icon-trash bigger-120"></i>
                            </button>
                            @if (item.CheckState == 0)
                            {
                                <button class="btn btn-xs btn-warning" onclick="verifyUser('@item.StuID');" title="用户审核">
                                    <i class="icon-flag bigger-120"></i>
                                </button>
                            }
                            @if (item.UserState == 0)
                            {
                                <button class="btn btn-xs btn-success" onclick="changeUserState('@item.StuID',1);" title="用户启用">
                                    <i class="icon-chevron-right bigger-120"></i>
                                </button>
                            }
                            @if (item.UserState == 1)
                            {
                                <button class="btn btn-xs btn-warning" onclick="changeUserState('@item.StuID',0);" title="用户禁用">
                                    <i class="icon-chevron-right bigger-120"></i>
                                </button>
                            }
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div><!-- /.table-responsive -->
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>