﻿@using NPoco
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.SearchModel.User
@using EduPlatform.Framework
@using EduPlatform.ServiceModel
@model Page<TeacherClassRoomModel.T_Teacher>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>教师名称</th>
                <th>教师状态</th>
                <th>教师描述</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.Teacher_RowID
                    </td>
                    <td>
                        @item.Teacher_Name
                    </td>
                    <td title="@item.Teacher_Description">
                        @(item.Teacher_Description.Length>20?item.Teacher_Description.Substring(0,20)+"...":item.Teacher_Description)
                    </td>
                    <td>@(item.Teacher_State==0?"禁用":"启用")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-info" onclick="TeacherEdit('@item.Teacher_ID');" title="修改用户信息">
                                <i class="icon-edit bigger-120" title="修改用户信息"></i>
                            </button>
                            @*<button class="btn btn-xs btn-info" onclick="UserEdit('@item.StuID');" title="修改用户信息">
                                <i class="icon-edit bigger-120" title="修改用户信息"></i>
                            </button>*@

                            @*<button class="btn btn-xs btn-success" onclick="resetpwd('@item.StuID','@item.TrueName');" title="重置用户密码">
                                <i class="icon-ok bigger-120" title="重置用户密码"></i>
                            </button>*@

                            <button class="btn btn-xs btn-info" onclick="activeTeacher('@item.Teacher_ID','@item.Teacher_State'); " title="@(item.Teacher_State==0?"激活":"禁用")">
                                <i class="icon-trash bigger-120"></i>
                            </button>
                            @*@if (item.CheckState == 0)
                            {
                                <button class="btn btn-xs btn-warning" onclick="verifyUser('@item.StuID');" title="用户审核">
                                    <i class="icon-flag bigger-120"></i>
                                </button>
                            }*@

                            
                            <button class="btn btn-xs btn-info" title="课程管理" onclick="SubjectEdit('@item.Teacher_ID');">
                                <i class="icon-pencil bigger-130"></i>
                            </button>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div><!-- /.table-responsive -->
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
 </div>