﻿@using EduPlatform.Manage.Infrastructure
@{

    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "教师管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "用户管理", Href = "/user/teacherlist"
          }
        }
    };

    ViewBag.Title = navigate.Name;
}
@section navigate{
    @Html.ShowTopNavigate(navigate)

}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/user/teacherlist" })
}
@section Header{
    <script type="text/javascript" src="/Scripts/user.js"></script>
    <script type="text/javascript">
        function search(page) {
            var userName = $("#txtUserName").val();
            var userId = $("#txtUserId").val();
            var senddata = {
                url: '/user/TeacherResultList',
                data: { Page: page,UserName:userName,UserId:userId },
                success: function (d) {
                    $("#Container").html(d);
                },
                error: function (d) { }
            };
            ajaxCall(senddata);
        }

        function ajax_Call(obj) {
            $.ajax({
                url: obj.url,
                type: 'POST',
                dateType: 'json',
                data: obj.data,
                success: obj.success,
                error: obj.error,
                beforeSend: obj.beforeSend
            });
        }

        $(function () {
            search(1);
        });


        function activeTeacher(uid, state) {
            
            var activestr = state == 0 ? "激活" : "禁用";
            if (window.confirm("确定要" + activestr + "教师信息吗？")) {
                var i;
                var senddata = {
                    //url: '/user/deleteuser',
                    url: '/user/activeteacher',
                    data: { id: uid },
                    success: function (d) {
                        
                        ityzl_CLOSE_LOAD_LAYER(i);
                        if (d.Success) {
                            layer.msg('操作成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('操作失败', { icon: 2 });
                        }
                    }, beforeSend: function () {
                        i = ityzl_SHOW_LOAD_LAYER();
                    }
                };

                ajax_Call(senddata);
            }
        }

        function ityzl_SHOW_LOAD_LAYER() {
            
            return layer.msg('数据操作中。。。', {
                icon: 16, shade: 0.01, time: 100000
            });
        }

        function ityzl_CLOSE_LOAD_LAYER(index) {
            layer.close(index);
        }

        function ityzl_SHOW_TIP_LAYER() {
            layer.msg('恭喜您，加载完成！', { time: 1000, offset: '10px' });
        }

        function resetpwd(uid,uname)
        {
            layer.confirm('确定要重置'+uname+'的登录密码？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var senddata = {
                    url: '/user/resetuserpwd',
                    data: { uid: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('重置成功,新密码为:'+d.Data, { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('重置失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }

        function UserEdit(uid) {
            window.location.href = "/user/useredit?uid="+uid;
        }

        function TeacherEdit(tid) {
            window.location.href = "/user/teacheredit?tid=" + tid;
        }

        function SubjectEdit(uid) {
            window.location.href = "/user/teachersubjectedit?uid=" + uid;
        }
    </script>
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" id="txtUserName" /></td>
            <td>用户编号:</td>
            <td><input type="text" id="txtUserId" /></td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">

</div>


