﻿@using EduPlatform.SearchModel.User
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel.Module.Teacher
@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    var name = ViewBag.UserType == 1 ? "教师管理" : "学生管理";
    var href = ViewBag.UserType == 1 ? "/user/teacherlist" : "/user/studentlist";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = name,
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null,
           IsHome = true,
           Name = "首页",
           Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null,
           IsHome = false,
           Name = "用户编辑",
           Href = href
          }
        }
    };

    ViewBag.Title = navigate.Name;
}
@model TeacherClassRoomModel.T_Teacher

@section header{
    <link type="text/css" charset="UTF-8" rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.zh-CN.js"></script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = href })
}

<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/user/teacheredit" method="post">

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 真实姓名： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="Teacher_Name" id="Teacher_Name" value="@Model.Teacher_Name" class="form-control date-picker col-xs-10 col-sm-5">
                <input type="hidden" name="Teacher_ID" value="@Model.Teacher_ID" />
                <input type="hidden" name="Teacher_RowID" value="@Model.Teacher_RowID" />
                <input type="hidden" name="Teacher_State" value="@Model.Teacher_State" />
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 教师描述： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="Teacher_Description" id="Teacher_Description" value="@Model.Teacher_Description" class="form-control date-picker col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段： </label>
            <div class="col-sm-3 control-group">
                @Html.DropDownList("Teacher_GradeID", ViewBag.GradeDropList as SelectList, "全部", new { name = "Teacher_GradeID",id="gradeselect" })
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学科： </label>
            <div class="col-sm-3 control-group">
                <select name="Teacher_SubjectID" id="subjectselect">

                </select>
            </div>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        
        var teachersubjectid = '@ViewBag.TeacherSubjectID';
        function setSubject(){
            var selectval = $("#gradeselect").val();
            $.post("/Resource/SubjectJsonListResult", { 'gradeid': selectval }, function (data) {
                var subjectarray = [];
                $('#subjectselect').empty();
                for (var i = 0; i < data.length; i++) {
                    if (data[i].GradeID == selectval) {
                        //$("#subjectselect").
                        if (data[i].SubjectID == teachersubjectid) {
                            $("<option selected='selected' value=" + data[i].SubjectID + ">" + data[i].SubjectName + "</option>").appendTo("#subjectselect");
                        }
                        else {
                            $("<option value=" + data[i].SubjectID + ">" + data[i].SubjectName + "</option>").appendTo("#subjectselect");
                        }

                        //subjectarray.push(subjectinfo[i])
                    }
                }
            });
        }
        setSubject();
        
        $("#gradeselect").change(function () {
            setSubject();
        });
    })
</script>