﻿@using EduPlatform.Manage.Infrastructure
@{
    ViewBag.Title = "TeacherSubjectEdit";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "课程管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "用户管理", Href = "/user/teacherlist"
          }
        }
    };

    ViewBag.Title = navigate.Name;
}
@section navigate{
    @Html.ShowTopNavigate(navigate)

}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/user/teacherlist" })
}
@section Header{
<link type="text/css" href="/Scripts/ztree/css/demo.css" rel="stylesheet" />
<link type="text/css" href="/Scripts/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/ztree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/Scripts/ztree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript">
        var UNITID;
        var Uid = "@ViewBag.Uid";

        function initSubjectTree() {
            var setting = {
                check: {
                    enable: true,
                    chkboxType: { "Y": "", "N": "" }
                },
                view: {
                    dblClickExpand: false
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    beforeClick: beforeClick,
                    onCheck: onCheck
                },
                async: {
                    enable: true,
                    url: "/user/getsubjects",
                    autoParam: ["id", "name=n", "level=lv", "uid"],
                    otherParam: { "otherParam": "zTreeAsyncTest", "uid": Uid }

                }
            };

            $.fn.zTree.init($("#treeDemo"), setting);
        }

        // ztree
        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }


        function beforeClick(treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.checkNode(treeNode, !treeNode.checked, null, true);
            return false;
        }

        function onCheck(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = zTree.getCheckedNodes(true),
                v = "";
            var subjectIds = "";
            for (var i = 0, l = nodes.length; i < l; i++) {
                v += nodes[i].name + ",";
                subjectIds += nodes[i].code + ",";
            }
            if (v.length > 0) v = v.substring(0, v.length - 1);
            //var cityObj = $("#citySel");
            //cityObj.attr("value", v);
            //$("#hidSubjectIds").val(subjectIds);

            //$("#subjectMsg").addClass("hidden");
            //$("#subjectMsg label").html("");
        }


        $(document).ready(function() {
            // $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            initSubjectTree();

        });

        function editsubject() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = zTree.getCheckedNodes(true);
            var subjects = new Array();
            for (var i = 0; i < nodes.length; i++) { 
                subjects[i] = nodes[i].code;
            }

            
            var senddata = {
                url: '/user/TeacherSubjectEdit',
                data: { subjects: subjects.join("|"),uid:Uid },
                success: function (d) {
                    if (d.Success) {
                        layer.msg('修改成功', { icon: 1 });
                    } else {
                        layer.msg(d.Message, { icon: 2 });
                    }
                },
                error: function(d) {}
            };

            ajaxCall(senddata);
        }
    </script>
}

<form class="form-horizontal" role="form">
    <div style="margin-left: 20px;">@ViewBag.TrueName 课程信息修改</div>
    <div class="zTreeDemoBackground" style="margin-left: 20px;">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <button class="btn btn-info" type="button" onclick=" editsubject(); ">
            <i class="icon-ok bigger-110"></i>
            提交
        </button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn" type="reset">
            <i class="icon-undo bigger-110"></i>
            取消
        </button>
    </div>
</form>
    
