﻿@using EduPlatform.SearchModel.User
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel.Module.Teacher
@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    var name = ViewBag.UserType == 1 ? "教师管理" : "学生管理";
    var href = ViewBag.UserType == 1 ? "/user/teacherlist" : "/user/studentlist";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = name,
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null,
           IsHome = true,
           Name = "首页",
           Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null,
           IsHome = false,
           Name = "用户编辑",
           Href = href
          }
        }
    };

    ViewBag.Title = navigate.Name;

    var subjectinfolist = ViewBag.SubjectInfos as List<TeacherSubjectInfoModel>;
}

@model SignContractInfo
@section header{
    <link type="text/css" charset="UTF-8" rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("#txtEndDate").datepicker({});

            $('#txtEndDate').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: 'yyyy-mm-dd'
            });
        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = href })
}

<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/user/useredit?usertype=@ViewBag.UserType" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 登录名： </label>
            <div class="col-sm-9 control-group">
                <label class="control-label" style="padding-top:4px;">@ViewBag.UserName</label>
                @Html.HiddenFor(u => u.Uid)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 用户编号： </label>
            <div class="col-sm-9 control-group">
                <label class="control-label" style="padding-top:4px;">@ViewBag.UserId</label>
            </div>
        </div>



        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 开始时间： </label>
            <div class="col-sm-9 control-group">
                <label class="control-label" style="padding-top:4px;">@Model.StartDate.ToString("yyyy-MM-dd")</label>
                @Html.HiddenFor(u => u.StartDate)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 结束时间： </label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" name="EndDate" id="txtEndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="form-control date-picker col-xs-10 col-sm-5">
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 真实姓名： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="UserTrueName" id="UserTrueName" value="@ViewBag.UserTrueName" class="form-control date-picker col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 用户邮箱： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="UserEmail" id="UserEmail" value="@ViewBag.UserEmail" class="form-control date-picker col-xs-10 col-sm-5">
            </div>
        </div>

        @if (subjectinfolist != null && subjectinfolist.Count > 0)
        {
            <div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-right">课程审核权限设置</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <table class="table table-striped table-bordered table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">行号</th>
                                    <th>课程名</th>
                                    <th>可否审核</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var index = 1;}
                                @foreach (var subject in subjectinfolist)
                                {
                                    var isadmin = subject.IsAdmin == 1 ? "checked" : "";
                                    <tr>
                                        <td class="center">@index</td>
                                        <td class="left">@subject.SubjectName</td>
                                        <td class="center"><input type="checkbox" name=@("chkAdmin") value="@subject.SubjectId" @isadmin /></td>
                                    </tr>
                                    index++;
                                }
                        </table>
                    </div>
                </div>
            </div>
        }

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>

                
            </div>
        </div>

    </form>
</div>