﻿@using EduPlatform.SearchModel.User
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel.Module.Teacher
@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    var name = ViewBag.UserType == 1 ? "教师管理" : "学生管理";
    var href = ViewBag.UserType == 1 ? "/user/teacherlist" : "/user/studentlist";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = name,
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null,
           IsHome = true,
           Name = "首页",
           Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null,
           IsHome = false,
           Name = "用户管理",
           Href = href
          }
        }
    };

    var puid = ViewBag.puid;
    ViewBag.Title = navigate.Name;

    var subjectinfolist = ViewBag.SubjectInfos as List<TeacherSubjectInfoModel>;
}
@model List<EduPlatform.Domain.System.T_GradeInfo>
@section header{
    <link type="text/css" charset="UTF-8" rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/zTreeStyle/zTreeStyle.css" />
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript">

        var setting = {
            check: {
                enable: true,
                chkStyle: "radio",
                radioType: "all"
            },
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onClick: onClick,
                onCheck: onCheck
            },
            async: {
                enable: true,
                url: "/unit/getunits",
                autoParam: ["id", "name=n", "level=lv"],
                otherParam: { "pid": "0", "cid": "0","selectedgui":'@puid' },
                dataFilter: filter
            }
        };

        //单位树控件点击
        function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.checkNode(treeNode, !treeNode.checked, null, true);
            return false;
        }

        //单位树控件选中
        function onCheck(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            nodes = zTree.getCheckedNodes(true),

            v = "";
            //alert(nodes[0].id);
            for (var i = 0, l = nodes.length; i < l; i++) {
                v += nodes[i].name + ",";
            }
            if (v.length > 0) v = v.substring(0, v.length - 1);
            var cityObj = $("#citySel");
            cityObj.attr("value", v);
            $("#parentUnit").attr("value", nodes[0].id);
        }

        //过滤数据
        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }


        //查看菜单
        function showMenu() {
            var cityObj = $("#citySel");
            var cityOffset = $("#citySel").offset();
            $("#menuContent").css({ left: (cityOffset.left-198) + "px", top: (cityOffset.top + cityObj.outerHeight() - 40-120) + "px" }).slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }
        //隐藏菜单
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "citySel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
                hideMenu();
            }
        }

        $(function () {
            //$("#txtEndDate").datepicker({});

            $('#txtEndDate').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: 'yyyy-mm-dd'
            });

            $('#txtStartDate').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: 'yyyy-mm-dd'
            });

            $.fn.zTree.init($("#treeDemo"), setting);

        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = href })
}

<div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
    <form class="form-horizontal" role="form" action="/user/useradd" method="post">

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right">  </label>
            <div class="col-sm-9" style="color:red">
                @Html.ValidationSummary()
                @ViewBag.Msg
            </div>

        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 登录名： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="UserLoginName" id="UserLoginName" value="@ViewBag.UserTrueName" class="form-control date-picker col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 开始时间： </label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" name="StartDate" id="txtStartDate" value="" class="form-control date-picker col-xs-10 col-sm-5">
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 结束时间： </label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" name="EndDate" id="txtEndDate" value="" class="form-control date-picker col-xs-10 col-sm-5">
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 真实姓名： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="UserTrueName" id="UserTrueName" value="@ViewBag.UserTrueName" class="form-control date-picker col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 用户邮箱： </label>
            <div class="col-sm-3 control-group">
                <input type="text" name="UserEmail" id="UserEmail" value="@ViewBag.UserEmail" class="form-control date-picker col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段： </label>
            <div class="col-sm-9">

                @foreach (var g in Model)
                {
                    <div class="checkbox" style="padding-top:0px;">
                        <label>
                            <input type="radio" class="ace" name="grade" value="@g.Grade_ID">
                            <span class="lbl"> @g.Grade_Name </span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 单位： </label>
            <div class="col-sm-9" style="position: relative;">
                <input id="citySel" type="text" class="col-xs-10 col-sm-5" readonly value="@ViewBag.puname" onclick="showMenu();" />
                <input id="parentUnit" name="unit" type="hidden" value="@ViewBag.puid" />
            </div>
        </div>

        @if (subjectinfolist != null && subjectinfolist.Count > 0)
        {
            <div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-right">课程审核权限设置</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <table class="table table-striped table-bordered table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">行号</th>
                                    <th>课程名</th>
                                    <th>可否审核</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var index = 1;}
                                @foreach (var subject in subjectinfolist)
                                {
                                    var isadmin = subject.IsAdmin == 1 ? "checked" : "";
                                    <tr>
                                        <td class="center">@index</td>
                                        <td class="left">@subject.SubjectName</td>
                                        <td class="center"><input type="checkbox" name=@("chkAdmin") value="@subject.SubjectId" @isadmin /></td>
                                    </tr>
                                    index++;
                                }
                        </table>
                    </div>
                </div>
            </div>
        }

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>
       
    </form>
    <div id="menuContent" class="menuContent" style="display:none;float:left; position: absolute;z-index:19891212">
        <ul id="treeDemo" class="ztree" style="margin-top:0; width:280px; height: 300px;"></ul>
    </div>
</div>