﻿@{
    SystemCopyRight copyRight = new SystemCopyRight();
    
    ViewBag.Title = copyRight.CompanyName;
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "首页",
        IsHome = false,
        Href = "/manage/index",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/manage/index", Parent = null, IsHome = true, Name = "控制台"
           }
        }
    };
}
@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
   @Html.Partial("_PageHeader", navigate)    
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}
<div class="alert alert-block alert-success">
    <button data-dismiss="alert" class="close" type="button">
        
    </button>
    <i class="icon-ok green"></i>
    欢迎使用
    <strong class="green">
        @copyRight.CompanyName
        
    </strong>
    
</div>
