﻿@using EduPlatform.Manage.Models
@using EduPlatform.Framework
@model List<SystemMenuInfo>
<ul class="nav nav-list">
    @foreach (var m in Model)
    {
        <li class="@Html.Raw(m.IsOpen?"open":"")">
            <a href="@m.Url" class="dropdown-toggle">
                <i class="@m.Icon"></i>
                <span class="menu-text"> @m.MenuName </span>
                @if (m.SubMenus.IsHasData())
                {
                    <b class="arrow icon-angle-down"></b>
                }
            </a>
            @if (m.SubMenus.IsHasData())
            {
                <ul class="submenu" @Html.Raw(m.IsOpen?"style=\"display: block;\"":"")>
                    @foreach (var sm in m.SubMenus)
                    {
                        <li class="@Html.Raw(sm.IsActive ? "active" : "")">
                            <a href="@sm.Url">
                                <i class="icon-double-angle-right"></i>
                                @sm.MenuName
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }

</ul>