﻿@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
*
{
	padding:0; margin:0;
}
img{
padding:0; margin:0;
border:0px;
}  
body{
	margin:0px;
	padding:0px;
	text-align:left;
	font-size:12px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
}
.fluid {
	width: 100%;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0; 
    padding:0;      
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	width: 100%; 
	clear: none;
}
#div1{}



.tan-bei{width:100%; height:100%; position:absolute; z-index: 1200; background-color:#010101;opacity: 0.4; }

.tan{width:55%; position:absolute; margin:5% 0px 0px 35%; z-index: 1300; }
.tan-left{width:55%; border-radius: 12px 12px;  background-color:#fbf3e3; float: left;}
.tan-right{width:48px; float: left; margin-top: 17px;}
.tan-top{text-align:center; padding: 36px 0px 30px 0px;}
.tan-xia{width:100%; height: 438px; overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.xia1{width:90%; margin-left:5%; margin-bottom: 8px; height: 47px; border-radius:10px 10px 10px 10px; background-color: #ece5d6;}
.xia1-left{float:left; }
.xia1-left p{margin-left: 8px; font-size: 16px; color:#3d2c19; line-height: 47px; font-weight: bold;}
.xia1-left p a:link, .xia1-left p a:visited,.xia1-left p a:hover{color:#3d2c19; text-decoration:none;}
.kuang1{width:20px; height:20px; border-radius:5px 5px; border: 1px solid #333333; line-height: 47px;margin: 0px 6px 0px 14px; vertical-align:text-bottom;}
.kuang12{width:20px; height:20px; border-radius:5px 5px; border: 1px solid #333333; line-height: 47px;margin: 3px 0px 0px 5px; vertical-align:text-bottom;}

#kkk{background-color:#D5474A; border: 3px solid #000000;}

.xia1-right{float:right; margin:15px 18px 0px 0px;  }

.xia2{width:80%; margin-left:15%; margin-bottom: 8px; height: 47px; border-radius:10px 10px 10px 10px; background-color: #ece5d6;}
.xia2-left{float:left; }
.xia2-left p{margin-left: 8px; font-size: 16px; color:#3d2c19; line-height: 47px; font-weight: bold;}
.xia2-left p a:link, .xia2-left p a:visited,.xia2-left p a:hover{color:#3d2c19; text-decoration:none;}

.xia3{width:70%; margin-left:25%; margin-bottom: 8px; height: 47px; border-radius:10px 10px 10px 10px; background-color: #ece5d6;}
.xia3-left{float:left; }
.xia3-left p{margin-left: 8px; font-size: 16px; color:#3d2c19; line-height: 47px; font-weight: bold;}
.xia3-left p a:link, .xia3-left p a:visited,.xia3-left p a:hover{color:#3d2c19; text-decoration:none;}
.an-xia{text-align:center; margin: 32px 0px 40px 0px;}
.bo{width:90%; margin-left:5%; margin-bottom: 8px; height: 47px; border-radius:10px 10px 10px 10px; background-color: #daccaf;}
.bo-left{float:left; display:block; overflow: hidden; width:50%; height: 47px;}
.bo-left p span{margin:0px 8px 0px 20px; width:20px; }   
.bo-left p{margin-left: 8px; font-size: 16px; color:#3d2c19; line-height: 47px; font-weight: bold; display: block; overflow:hidden;}
.bo-left p a:link, .bo-left p a:visited,.bo-left p a:hover{color:#3d2c19; text-decoration:none;}

.bo-right{float:right; margin:15px 18px 0px 0px;  }

.bo-right p{margin-left: 8px; font-size: 16px; color:#725230; line-height: 20px; font-weight: bold;}
.bo-right p a:link,.bo-right p a:visited,.bo-right p a:hover{color:#3d2c19; text-decoration:none;}
.bo-qian{width:90%; margin-left:5%; margin-bottom: 8px; height: 47px; border-radius:10px 10px 10px 10px; background-color: #ece5d6;}


.tan-tisi{width:100%; overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.tan-tisi p{text-align:center; font-size: 16px; font-weight: bold; color: #3D2C19; padding: 3% 0px;}







/**以下是最新写的**/


.fan2{position:absolute; margin: 3% 5px 5px 0px;}

.bj{background-color:#503a23; background-image:url(../images/a6.png); background-repeat: no-repeat; background-position:top center; background-size:cover;}
.ke{width:100%; margin: 2% 0% 5% 0%;}
.fanhui{width:94%; margin:0px 3% 8px; padding-bottom: 58px; border-radius: 12px 12px; background-color: #f9efd9;  background-image:url(../images/a14.png); background-repeat: no-repeat; background-position:bottom center;}
.fanhui_left{float:left; margin: 32px 0px 0px 130px;}
.fanhui_right{float:right;}
.fanhui_right img{margin: 32px 30px 0px 0px;}

.xueduan{width:100%; margin:32px 0px 0px 0px; height:58px; background-color: #e5dcc8;}
.xueduan-left{float:left; line-height: 58px; margin-left: 50px;}
.xueduan-left ul{float:left;}
.xueduan-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 25px;}
.xueduan-left li img{margin-left:14px;}
.xueduan-left li a:link,.xueduan-left li a:visited,.xueduan-left li a:hover{color:#3D2C19; text-decoration: none;}
.xueduan-right{float:right;  line-height: 58px; margin-right:40px;}


.xueduan8{width:100%; margin:32px 0px 0px 0px; height:58px; background-color: #e5dcc8;}
.xueduan8-left{float:left; line-height: 58px; margin-left: 55px;}
.xueduan8-left ul{float:left;}
.xueduan8-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#3D2C19; display: block; text-align: center; padding: 0px 25px;}
.diand{background-color:#f9efd9;}
.xueduan8-left li img{margin-left:14px; }
.xueduan8-left li a:link,.xueduan8-left li a:visited,.xueduan8-left li a:hover{color:#7D5933; text-decoration: none;}
.xueduan8-right{float:right;  line-height: 58px; margin-right:40px;}



.tulie{width:94%; margin: 0px 3%; overflow-y:auto;}

.tu3{float: left; max-width: 256px; margin: 0px 13px;}
.tu3-top{border: 0px; margin:0px;}

.tu3-top-xing{position:relative;  z-index: 200; left:8px; top:32px;float:left;}
.tu3-top-shou{position:relative; z-index: 210; left:193px; top:32px;  float:left;}
.tu3-top-kai{position:relative; z-index: 220; left:121px; top:-93px; float: left;}
.tu3-top-shi{position:relative; z-index: 220; left:-39px; top:164px; float:left; color: #ffffff;}
.tupp{position:relative; z-index: 100; top: 0px; margin-top:0px; padding-top:0px; }



.tu3-bottom{border: 0px; margin-top: 8px;}
.tu3-bottom h1{position:relative; z-index: 220; color:#3D2C19; font-size: 16px; line-height: 24px; height: 48px; top:-27px; padding-left:-900px; clear: both; font-weight: bold;} 
.tu3-bottom h1 a:link,.tu3-bottom h1 a:visited,.tu3-bottom h1 a:hover{color:#3D2C19; text-decoration: none;}
.tu3-bottom-left{position:relative; z-index: 220; top:-12px; float:left;   color:#947558; line-height: 0px; font-size: 16px;} 
.tu3-bottom-right{position:relative; z-index: 220; top:-12px; float:right; color:#947558; line-height: 0px; font-size: 16px;} 

.tu8-bottom-left{position:relative; z-index: 220; top:-12px; float:left;   color:#947558; line-height: 0px; font-size: 14px;} 




.sou{width:94%; position:absolute; margin:9% 0px 0px 3%; z-index: 1300; }
.sou-left{width:100%; border-radius: 12px 12px;  background-color:#fbf3e3; float: left; text-align: center;}
.sou-right{width:0px; float: left; margin-top: 0px;}
.sou-top{background-color:#e5dcc8; height: 58px; line-height: 58px;}
.sous{background-color:#e5dcc8; border: 0px; height: 33px; line-height: 33px; margin: 0px 8px; width: 80%; padding: 0px 6px; font-size: 16px;}

.sou-xia{width:100%; height: 420px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}

.zuij{width:90%; margin-left: 5%; line-height:56px; height: 56px; font-size: 16px; border-bottom: 1px solid #dbd2bf; color:#3D2C19;}
.zuij-left{float:left;}
.zuij-right{float:right;}
.zuij a:link,.zuij a:visited,.zuij a:hover{color:#3D2C19; text-decoration: none;}

.zuijin-sou{font-size: 15px;}







.ming-top{width:100%; height:58px; background-color:#d6c8a7;  }
.ming-left{float:left; line-height: 58px; margin-left: 50px; }
.ming-left ul{float:left;}
.ming-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 25px;}
.ming-left li img{margin-left:14px;}
.ming-left li a:link,.ming-left li a:visited,.ming-left li a:hover{color:#3D2C19; text-decoration: none;}
.ming-right{float:right;  line-height: 58px; margin-right:40px;}
.dian{background-color:#fbf3e3; display: block; }
.ming-lie{width:100%; padding-bottom: 36px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.ming-lie ul{text-align: center; margin-left:5%; margin-top:36px;}
.ming-lie li{list-style:none; float:left; width: 206px; border-radius: 5px 5px;  background-color:#ece5d6; font-size: 16px; display: block; margin: 8px 8px;  padding:15px 0px; text-align: center; font-weight: bold;}
.ming-lie li a:link,.ming-lie li a:hover,.ming-lie li a:visited{color:#3D2C19; text-decoration: none;}
.ming-lie .dian-lan{background-color:#2196f3; color: #ffffff; padding:15px 0px;  display: block; background-image: url(../images/a36.png); background-position: 16px center; background-repeat: no-repeat;} 

.bofang{position:absolute; width:100%; margin:0px 0px 0px 0px;}
.bofang-top{height:50px; line-height:50px; background-color: #22394c;}
.bofang-top-left{width:70%; float: left;}
.bofang-top-left p{padding-left: 20px;color:#ffffff; font-size: 16px;}
.bofang-top-right{width:30%; float: right; text-align: right;}
.bofang-top-right p{padding-right: 20px; color:#ffffff; font-size: 16px;}
.bofang-top a:link,.bofang-top a:visited,.bofang-top a:hover{color:#ffffff; text-decoration: none;}
.bofang-buttom{width:100%; height: 100%;}

.bobo{width:100%; margin: 62px 0% 5% 0%;}
.bobo-top{text-align:center; margin-left:132px;}
.bobo-top p{font-size: 24px; color: #ffffff; line-height: 44px;  height: 44px; width: 79%; margin: 0px 5%; overflow: hidden; }
.bobo-top img{float:right; padding-right:67px;}
.bobo-top span{font-size: 16px; color: #ffffff; clear: both;}
.bobo-top2{text-align:center; font-size: 16px; color: #ffffff; padding-left: 7px; line-height: 50px;}
.fan3{position:absolute; z-index:9999;  margin: 12px 40px 0px 87%; float: left; width:111px;}

.bokuang{width:50%; margin: 22px 25% 0px; text-align: center;}
.bobo-zi{text-align:left; height: 117px; overflow-y: scroll;}
.bobo-zi p{font-size: 16px; width:70%; color: #ffffff;margin-left: 15%; margin-top: 38px; line-height: 26px;}
.bobo-zi p span{color: #ad9d8e;}
.bobo-dian{text-align:center;}
.bobo-dian img{margin:20px 4px 0px;}




.bolie{width:95%; position:absolute; margin:8% 0px 0px 23%; z-index: 1300; }
.bolie666{width:95%; position:absolute; margin:8% 0px 0px 24.4%; z-index: 1300; }
.bolie-left{width:55%;  float: left;}
.bolie-right{width:0px; float: left;}
.bolie-top{text-align:center; width:100%; height:76px;}

.bolie-top-left{float:left; width:27px; height:76px;}
.bolie-top-middle{float:left; width:90%; height:76px; background-image: url(../images/2.png); background-repeat: repeat-x; margin-top: 24px;}


.tantantan{margin-top:90px;;}

.bolie-top .youyou2{float:right; padding-right: 20px;}
.bolie-top img{padding-top:24px;}

.bolie-bottom{width:94.9%; margin:0px 10px; border-radius:0px 0px 12px 12px; background-color:#e5dcc8; }

.bolie-xia{width:100%; height: 438px; overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.an5-xia{text-align:center; margin: 32px 0px 40px 0px;}



.bolie8-xia{width:100%; height: 408px; overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.bo6-left{float:left; display:block; overflow: hidden; width:50%; height: 47px;}
.bo6-left p span{margin:0px 8px 0px 20px; width:20px; }   
.bo6-left p{margin-left: 8px; font-size: 16px; color:#3d2c19; line-height: 47px; display: block; overflow:hidden;}
.bo6-left p a:link, .bo6-left p a:visited,.bo6-left p a:hover{color:#3d2c19; text-decoration:none;}

.bo6-right{float:right; margin:15px 18px 0px 0px; font-size: 16px; }

.bo6-right p{margin-left: 8px; font-size: 16px; color:#725230; line-height: 20px; }
.bo6-right a:link, .bo6-right a:hover,.bo6-right a:visited{color:#2B79D9; text-decoration:none; }

.bo6-right p a:link,.bo6-right p a:visited,.bo6-right p a:hover{color:#3d2c19; text-decoration:none;}
.bo6-qian{width:90%; margin-left:5%; margin-bottom: 8px; height: 47px; border-radius:10px 10px 10px 10px; border-bottom: 1px solid #c9c1b0;}

.an9-xia{text-align:center; padding:12px 0px 40px 0px;}
































@media screen and (max-width:1920px){
.ming-lie ul{text-align: center; margin-left:7%; margin-top:36px; }


.bolie-bottom{width:93.2%; margin:0px 10px; border-radius:0px 0px 12px 12px; background-color:#e5dcc8; }	
	
.bobo-top p{font-size: 24px; color: #ffffff; line-height: 44px;  height: 44px; width: 79%; margin: 0px 0px 0px 7%; overflow: hidden; }
	
}




@media screen and (max-width:1366px){
.tu3{float: left; max-width: 256px; margin: 0px 13px 0px 30px;}
	
.tan{width:70%; position:absolute; margin:5% 0px 0px 30%; z-index: 1300;}
.bo-left{float:left; display:block; overflow: hidden; width:50%; height: 47px;}
.ming-lie ul{text-align: center; margin-left:7%; margin-top:36px; }
.bolie-top-middle{float:left; width:88.5%; height:76px; background-image: url(../images/2.png); background-repeat: repeat-x; margin-top: 24px;}
	
.bobo-top p{font-size: 24px; color: #ffffff; line-height: 44px;  height: 44px; width: 79%; margin: 0px 0px 0px 5.8%; overflow: hidden; }

}
@media screen and (max-width:1280px){

.xueduan-left{float:left; line-height: 58px; margin-left: 3px;}
.tu3{float: left; max-width: 256px; margin: 0px 0px 0px 19px;}

.tan{width:70%; position:absolute; margin:5% 0px 0px 30%; z-index: 1300;}
.bo-left{float:left; display:block; overflow: hidden; width:50%; height: 47px;}

.sou-xia{width:100%; height: 420px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.bolie-bottom{width:93.5%; margin:0px 10px; border-radius:0px 0px 12px 12px; background-color:#e5dcc8; }	

.ming-lie ul{text-align: center; margin-left:4%; margin-top:36px;}
	
}
@media screen and (max-width:1136px){

	
.xueduan-left{float:left; line-height: 58px; margin-left: 30px;}
.xueduan-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 10px;}
.tu3{float: left; max-width: 256px; margin: 0px 13px 0px 50px;}
	
.tan{width:90%; position:absolute; margin:5% 0px 0px 24%; z-index: 1300;}
.bo-left{float:left; display:block; overflow: hidden; width:50%; height: 47px;}
.sou-xia{width:100%; height: 288px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.ming-left{float:left; line-height: 58px; margin-left: 19px; }
.ming-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 15px;}
.ming-lie{width:100%; height: 350px; padding-bottom: 36px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.bobo-top p{font-size: 24px; color: #ffffff; line-height: 44px;  height: 44px; width: 79%; margin: 0px 0px 0px 4.7%; overflow: hidden; }

.fan3{position:absolute; z-index:9999;  margin: 12px 40px 0px 87%; float: left; width:111px;}
.bolie-bottom{width:94.2%; margin:0px 10px; border-radius:0px 0px 12px 12px; background-color:#e5dcc8; }	
	
.bolie8-xia{width:100%; height: 278px; overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}	
.ming-lie ul{text-align: center; margin-left:9%; margin-top:36px;}
}
@media screen and (max-width:1024px){

.xueduan-left{float:left; line-height: 58px; margin-left: 20px;}
.xueduan-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 5px;}
.tu3{float: left; max-width: 256px; margin: 0px 13px 0px 26px;}
.tan{width:100%; position:absolute; margin:5% 0px 0px 22%; z-index: 1300;}
.bo-left{float:left; display:block; overflow: hidden; width:50%; height: 47px;}
.bobo-top p{font-size: 24px; color: #ffffff; line-height: 44px;  height: 44px; width: 79%; margin: 0px 0px 0px 3%; overflow: hidden; }
		
.sous{background-color:#e5dcc8; border: 0px; height: 33px; line-height: 33px; margin: 0px 8px; width: 70%; padding: 0px 6px; font-size: 16px;}

.sou-xia{width:100%; height: 398px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.ming-left{float:left; line-height: 58px; margin-left: 2px; }
.ming-left li{float:left; list-style: none; font-size: 18px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 10px;}
.ming-lie ul{text-align: center; margin-left:4%; margin-top:36px;}	

	
.bolie-top-middle{float:left; width:87.9%; height:76px; background-image: url(../images/2.png); background-repeat: repeat-x; margin-top: 24px;}
	
	
	
}
@media screen and (max-width:800px){
.sou{width:93.9%; position:absolute; margin:12% 0px 0px 3%; z-index: 1300; }
.xueduan-left{float:left; line-height: 58px; margin-left: 30px;}
.xueduan-left li{float:left; list-style: none; font-size: 12px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 8px;}
.xueduan-left li img{margin-left:4px;}	
.tu3{float: left; max-width: 256px; margin: 0px 13px 0px 60px;}
.tan{width:100%; position:absolute; margin:5% 0px 0px 22%; z-index: 1300;}
.tisi2{ margin-top:11%;}
.sou-xia{width:100%; height: 178px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.ming-left{float:left; line-height: 58px; margin-left:10px; }
.ming-left li{float:left; list-style: none; font-size: 14px; font-weight: bold; color:#7D5933; display: block; text-align: center; padding: 0px 3px;}
.ming-lie ul{text-align: center; margin-left:6%; margin-top:36px; }
.ming-lie{width:100%; height: 270px; padding-bottom: 36px;  overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}

.fan3{position:absolute; z-index:9999;  margin: 12px 40px 0px 80%; float: left; width:111px;}
	
.bolie-top-middle{float:left; width:86.0%; height:76px; background-image: url(../images/2.png); background-repeat: repeat-x; margin-top: 24px;}
.bo6-left{float:left; display:block; overflow: hidden; width:42%; height: 47px;}
.bolie8-xia{width:100%; height: 168px; overflow-y: auto;
scrollbar-face-color: #bab4a8; 
scrollbar-highlight-color: #6c6c90; 
scrollbar-shadow-color: #fbf3e3; 
scrollbar-3dlight-color: #fbf3e3; 
scrollbar-arrow-color: #fbf3e3; 
scrollbar-track-color: #fbf3e3; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #fbf3e3; 
}
.bobo-top p{font-size: 24px; color: #ffffff; line-height: 44px;  height: 44px; width: 79%; margin: 0px 0px 0px 2%; overflow: hidden; }
}

@media screen and (max-width:598px){

}

@media screen and (max-width:480px){

} 
@media screen and (max-width:340px){

}
/*以下tisi2位置千万不用动，一定要放最下边，要不提示页面不正常*/
.tisi2{ margin-top:21%;}
/*以上tisi2位置千万不用动，一定要放最下边，要不提示页面不正常*/
@charset "utf-8";
/* CSS Document */












	
	
	
	
	
	


	