﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel
@using EduPlatform.Manage.Models
@model ClientVersionAddInfo
@{
    ViewBag.Title = "ClientVersionAdd";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "客户端管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "系统管理", Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}

@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/clientversionlist" })
}

<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/sysconfig/ClientVersionAdd" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 客户端类型 </label>
            <div class="col-sm-9">
                @Html.DropDownList("ClientType", Html.CreateSelectList(typeof(ClientType), "0"))
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 升级序号 </label>
            <div class="col-sm-9">
                
                @Html.TextBoxFor(u => u.UpgradeID, new { @class="col-xs-10 col-sm-5", placeholder="升级序号"})
                @Html.ValidationMessageFor(u=>u.UpgradeID)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 版本号 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(u => u.ClientVersion, new { @class = "col-xs-10 col-sm-5", placeholder = "版本号" })
                @Html.ValidationMessageFor(u => u.ClientVersion)
                
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 文件名 </label>
            <div class="col-sm-9">
                
                @Html.TextBoxFor(u => u.FileName, new { @class = "col-xs-10 col-sm-5", placeholder = "文件名" })
                @Html.ValidationMessageFor(u => u.FileName)
            </div>
        </div>

        

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 说明 </label>
            <div class="col-sm-9">
                
                @Html.TextBoxFor(u => u.ClientNote, new { @class = "col-xs-10 col-sm-5", placeholder = "说明" })
            </div>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>