﻿@using NPoco
@using EduPlatform.SearchModel.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Framework
@using EduPlatform.ServiceModel
@model NPoco.Page<ClientVersionInfo>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>客户端类型</th>
                <th>版本号</th>
                <th class="hidden-480">升级序号</th>
                <th>发布人</th>
                <th>发布时间</th>
                <th class="hidden-480">有效状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    <td>
                        <a href="#">@EnumHelper.GetDescription((ClientType)item.ClientType)</a>
                    </td>
                    <td>@item.Version</td>
                    <td class="hidden-480">@item.UpgradeID</td>
                    <td>@item.AccountName</td>
                    <td>@item.PublishDate.ToString("yyyy-MM-dd")</td>
                    <td class="hidden-480">
                        @Html.Raw(item.State == 1 ? "有效" : "无效")
                    </td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-danger" onclick="versioninfodel('@item.VersionID');">
                                <i class="icon-trash bigger-120"></i>
                            </button>

                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>