﻿@{
    ViewBag.Title = "DataConfig";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "参数配置",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "系统管理", Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using EduPlatform.Manage.Infrastructure
@section header{
      <script type="text/javascript">
          function dataconfigadd() {
              window.location.href = "/sysconfig/dataconfigadd";
          }

          function dataconfigedit(configid) {
              window.location.href = "/sysconfig/dataconfigedit?configid="+configid;
          }

          function search(p) {
              var key = $("#txtKey").val();
              var senddata = {
                  url: '/sysconfig/DataConfigListResult',
                  data: { page: p,Key:key },
                  success: function (d) {
                      $("#Container").html(d);
                  }

              };

              ajaxCall(senddata);
          }

          $(function () {
              search(1);
          });
      </script>         
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/dataconfiglist" })
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>配置KEY:</td>
            <td><input type="text" id="txtKey"/></td>
            
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="dataconfigadd();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>