﻿@model DataRouteEditModel
@{
    ViewBag.Title = "DataRouteEdit";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    IEnumerable<SelectListItem> grades = ViewBag.Grades;
    IEnumerable<SelectListItem> subjects = ViewBag.Subjects;

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "数据库路由表编辑",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "系统管理", Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using EduPlatform.Manage.Models
@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/dataroutelist" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/sysconfig/DataRouteEdit" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段 </label>
            <div class="col-sm-9">
                @Html.HiddenFor(u=>u.RouteID)
                @Html.DisplayFor(u=>u.GradeID)
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 课程 </label>
            <div class="col-sm-9">

                @Html.DisplayFor(u=>u.SubjectID)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 数据库名称 </label>
            <div class="col-sm-9">

                @Html.TextBoxFor(u => u.Database, new { @class = "col-xs-10 col-sm-5", placeholder = "数据库名称", id = "txtDatabase" })
                @Html.ValidationMessageFor(u=>u.Database)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 连接字符串 </label>
            <div class="col-sm-9">
                @Html.TextAreaFor(u => u.ConnString, new { @class = "col-xs-10 col-sm-5", placeholder = "连接字符串", id = "txtConnString", cols = "20", rows = "3" })
                @Html.ValidationMessageFor(u=>u.ConnString)
            </div>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>