﻿@using NPoco
@using EduPlatform.SearchModel.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Domain.System
@model Page<SystemConfigModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
        <tr>
            <th class="center">
                行号
            </th>
            <th>配置说明</th>
            <th>配置键值</th>
            <th class="hidden-480">添加时间</th>
            <th>
                有效状态
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model.Items)
        {
            <tr class="">
                <td class="center">
                    @item.RowId
                </td>
                <td>@item.ConfigNote</td>
                <td>
                    @item.ConfigKey
                </td>

                <td class="hidden-480">@item.AddDate.ToString("yyyy-MM-dd")</td>
                <td>@Html.Raw(item.ConfigState == 1 ? "有效" : "无效")</td>

                <td>
                    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                        <button class="btn btn-xs btn-info" onclick="dataconfigedit('@item.ConfigId');" title="编辑配置信息">
                            <i class=" icon-edit bigger-120">
                            </i>
                        </button>
                        
                    </div>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>
