﻿@{
    ViewBag.Title = "DataRoute";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "数据库路由表",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "系统管理", Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@model List<T_RouteTableConfig>

@section header{
   <script type="text/javascript">
       function adddataroute() {
           window.location.href = "/sysconfig/datarouteadd";
       }

       function loadSubject() {
           var gradeId = $("#ddlGrade").val();
           var senddata = {
               url: '/common/getsubject',
               data: { gradeId: gradeId },
               success: function (d) {
                   var html = "";
                   html += "<option value=''>全部</option>";
                   if ($.trim(gradeId) != "")
                   {
                       for (var i = 0; i < d.length; i++) {
                           html += "<option value='" + d[i].SubjectID + "'>" + d[i].SubjectName + "</option>";
                       }
                   }
                   

                   $("#ddlSubject").html(html);
               }
           };

           ajaxCall(senddata);
       }

       function loadgrades() {
           var senddata = {
               url: '/common/getgrade',
               data: {},
               success: function (d) {
                   var html = "";
                   html += "<option value=''>全部</option>";
                   for (var i = 0; i < d.length; i++) {
                       html += "<option value='" + d[i].GradeID + "'>" + d[i].GradeName + "</option>";
                   }
                   
                   $("#ddlGrade").html(html);
                   loadSubject();
               }
           };

           ajaxCall(senddata);
       }


       function search(p) {
           var senddata = {
               url: '/sysconfig/DataRouteResultList',
               data: { page: p, subjectid: $("#ddlSubject").val(), gradeid: $("#ddlGrade").val() },
               success: function (d) {
                   $("#Container").html(d);
               }

           };

           ajaxCall(senddata);
       }

       $(function () {

           $("#ddlGrade").on("change", function () {
               loadSubject();
           });
           loadgrades();
           search(1);

       });

       function editdataroute(id) {
           window.location.href = "/sysconfig/datarouteedit?id="+id;
       }

       function deletedataroute(id)
       {
           //alert(id);
           layer.confirm('确定要删除该记录？', {
               btn: ['确定', '取消'] //按钮
           }, function () {
               //layer.msg('的确很重要', { icon: 1 });
               var senddata = {
                   url: '/sysconfig/DataRouteDelete',
                   data: { id: id },
                   success: function (d) {
                       if (d.Success) {
                           layer.msg('删除成功', { icon: 1 });
                           search(1);
                       }
                       else
                       {
                           layer.msg('删除失败', { icon: 2 });
                       }
                   }
               };

               ajaxCall(senddata);
           }, function () {
               
           });
       }
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/dataroutelist" })
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>学段:</td>
            <td>
                <select name="GradeID" id="ddlGrade"></select>
            </td>
            <td>课程:</td>
            <td>
                <select name="subjectID" id="ddlSubject"></select>
            </td>
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary" style="margin-right:10px;" type="button" onclick="search(1);">
                    查询
                </button>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="adddataroute();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>