﻿@{
    ViewBag.Title = "DataConfigAdd";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "系统参数",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "系统管理", Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Manage.Models
@model DataConfigAddModel
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/dataconfiglist" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/sysconfig/dataconfigadd" method="post">

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 配置说明 </label>
            <div class="col-sm-9">
                
                @Html.TextBoxFor(u => u.ConfigNote, new { @class = "col-xs-10 col-sm-5", placeholder = "配置说明" })
                @Html.ValidationMessageFor(u=>u.ConfigNote)
            </div>
        </div>
        
        

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 配置键值 </label>
            <div class="col-sm-9">
                
                @Html.TextBoxFor(u => u.ConfigKey, new { @class = "col-xs-10 col-sm-5", placeholder = "配置键值" })
                @Html.ValidationMessageFor(u => u.ConfigKey)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 配置内容 </label>
            <div class="col-sm-9">
                
                @Html.TextAreaFor(u => u.ConfigValue, new { @class = "col-xs-10 col-sm-5",rows="10", placeholder = "配置内容" })
                @Html.ValidationMessageFor(u => u.ConfigValue)
            </div>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>