﻿@using NPoco
@using EduPlatform.SearchModel.System
@using EduPlatform.Manage.Infrastructure
@model Page<DataRouteModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>课程</th>
                <th>学段</th>
                <th class="hidden-480">数据库</th>
                <th>添加时间</th>
                <th class="hidden-480">有效状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                       @item.RowID
                    </td>
                    <td>
                        @item.SubjectName
                    </td>
                    <td>@item.GradeName</td>
                    <td class="hidden-480">@item.DatabaseName</td>
                    <td>@item.AddDate.ToString("yyyy-MM-dd")</td>
                    <td class="hidden-480">
                        @Html.Raw(item.State==1?"有效":"无效")
                    </td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-danger" onclick="deletedataroute('@item.ID')">
                                <i class="icon-trash bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-info" onclick="editdataroute('@item.ID');" title="编辑">
                                <i class="icon-edit bigger-120" title="编辑"></i>
                            </button>
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>