﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel

@{
    ViewBag.Title = "FriendLinkList";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "友情链接",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "系统管理", Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/friendlinklist" })
}

@section header{
    <script type="text/javascript">
        function search(p) {
            var senddate = {
                url: '/sysconfig/FriendLinkResult',
                data: { page: p },
                success: function (d) {
                    $("#Container").html(d);
                }
            };
            ajaxCall(senddate);
        }

        function friendlinkadd() {
            window.location.href = "/sysconfig/friendlinkadd";
        }

        function friendlinkdel(id) {
            layer.confirm('确定要删除该记录？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                //layer.msg('的确很重要', { icon: 1 });
                var senddata = {
                    url: '/sysconfig/friendlinkdel',
                    data: { id: id },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('删除成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('删除失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }

        $(function () {
            search(1);
        });
    </script>
}
<div class="col-xs-12">
    <table>
        <tr>
            
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="friendlinkadd();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>
