﻿@using NPoco
@using EduPlatform.SearchModel.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Framework
@using EduPlatform.ServiceModel
@model NPoco.Page<EduPlatform.Domain.System.T_FriendLink>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>网站名称</th>
                <th>网站链接</th>
                
                <th>发布人</th>
                <th>发布时间</th>
                <th class="hidden-480">有效状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.FL_RowId
                    </td>
                    <td>
                        @item.FL_Name
                    </td>
                    <td>@item.FL_Link</td>
                    
                    <td>@item.FL_Creator</td>
                    <td>@item.FL_AddDate.ToString("yyyy-MM-dd")</td>
                    <td class="hidden-480">
                        @Html.Raw(item.FL_State == 1 ? "有效" : "无效")
                    </td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-danger" onclick="friendlinkdel('@item.FL_ID');">
                                <i class="icon-trash bigger-120"></i>
                            </button>

                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>