﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel
@using EduPlatform.Manage.Models
@model FriendLinkAddModel
@{
    ViewBag.Title = "ClientVersionAdd";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "友情链接",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo()
          {
           Parent = null, 
           IsHome = false, 
           Name = "系统管理", 
           Href = "/sysconfig/dataroutelist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}

@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/sysconfig/friendlinklist" })
}


<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/sysconfig/friendlinkadd" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 网站名称 </label>
            <div class="col-sm-9">

                @Html.TextBoxFor(u => u.LinkName, new { @class = "col-xs-10 col-sm-5", placeholder = "网站名称" })
                @Html.ValidationMessageFor(u => u.LinkName)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 网站链接 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(u => u.LinkHref, new { @class = "col-xs-10 col-sm-5", placeholder = "网站链接" })
                @Html.ValidationMessageFor(u => u.LinkHref)

            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 序号 </label>
            <div class="col-sm-9">

                @Html.TextBoxFor(u => u.LinkIndex, new { @class = "col-xs-10 col-sm-5", placeholder = "序号" })
                @Html.ValidationMessageFor(u => u.LinkIndex)
            </div>
        </div>


        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>
