﻿@{
    SystemCopyRight copyRight = new SystemCopyRight();

    ViewBag.Title = copyRight.CompanyName;
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "首页",
        IsHome = false,
        Href = "/audio/index",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/audio/index", Parent = null, IsHome = true, Name = "控制台"
           }
        }
    };

    var accountinfo = System.Web.HttpContext.Current.User as AccountInfoPrincipal;
}
@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}

<div class="row-fluid">
    <div class="col-md-12">
        <table>
            <tr>
                <td>学段:</td>
                <td>
                    <select class="">
                        <option>--请选择--</option>
                    </select>
                </td>
                <td>姓名:</td>
                <td><input type="text" id="txtUserTrueName" /></td>
                <td>
                    <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                        查询
                    </button>
                </td>
                @*@if (accountinfo.IsAdmin == 1)
                {*@
                <td>
                    <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="importStudent();">
                        导入视频
                    </button>
                </td>
                @*}*@
            </tr>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-3">
        <ul id="booktree" class="ztree" style="margin-left:40px;margin-top:10px;">

        </ul>
    </div>
    <div class="col-md-9">

    </div>
</div>

