﻿@using EduPlatform.Manage.Infrastructure
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_BaseLoginLayoutPage.cshtml";
    
    SystemCopyRight copyRight = new SystemCopyRight();
}

<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h2>
                            
                            <span class="white">@copyRight.CompanyName</span>
                        </h2>
                        
                    </div>
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div class="login-box widget-box no-border visible" id="login-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class=""></i>
                                        登录
                                    </h4>
                                    <div class="space-6"></div>
                                    <form action="/Home/Login" method="post">
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" placeholder="用户名" class="form-control" name="UserName">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" placeholder="密码" class="form-control" name="Password">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </label>
                                            <div class="space"></div>
                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace">
                                                    <span class="lbl">记住我</span>
                                                </label>
                                                <button class="width-35 pull-right btn btn-sm btn-primary" type="submit">
                                                    <i class="icon-key"></i>
                                                    登录
                                                </button>
                                            </div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                    
                                </div><!-- /widget-main -->
                                
                            </div><!-- /widget-body -->
                        </div><!-- /login-box -->
                    </div><!-- /position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>