﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page500</title>
</head>
<body>
    <div>
        <h2>错误了</h2>
        <a href="/manage/index">返回</a>
    </div>
</body>
</html>
