﻿@using NPoco
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel
@using EduPlatform.SearchModel.System
@model Page<AccountInfoModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>用户名</th>
                <th>姓名</th>
                <th>注册日期</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    <td>
                        @item.LoginName
                    </td>
                    <td>@item.Name</td>
                    <td>@item.AddDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-inverse" onclick="UserEditPwd('@item.ID');" title="修改密码">
                                <i class="icon-key bigger-120" title="修改密码"></i>
                            </button>
                            <button class="btn btn-xs btn-info" onclick="UserEdit('@item.ID');" title="修改用户信息">
                                <i class="icon-edit bigger-120" title="修改用户信息"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" onclick="deleteAccount('@item.ID');" title="删除">
                                <i class="icon-trash bigger-120" title="删除"></i>
                            </button>
                            <button class="btn btn-xs btn-success" onclick="editAuthGroupMenu('@item.ID');" title="设置权限">
                                <i class="icon-sitemap bigger-120" title="设置权限"></i>
                            </button>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div><!-- /.table-responsive -->
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>