﻿@{
    ViewBag.Title = "管理员帐号管理";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "用户列表",
        IsHome = false,
        Href = "/AuthManage/AccountList",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/manage/index", Parent = null, IsHome = true, Name = "控制台"
           }
        }
    };
}
@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}
@section Header{
<link type="text/css" charset="UTF-8" rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        function search(page) {
            var loginName = $("#LoginName").val();
            var name = $('#Name').val();
            
            var senddata = {
                url: '/AuthManage/AccountResultList',
                data: { LoginName: loginName, Name: name },
                success: function (d) {
                    $("#Container").html(d);
                },
                error: function (d) { }
            };
            ajaxCall(senddata);
        }

        $(function () {
            
            search(1);
        });

        function deleteAccount(uid) {
            layer.confirm('确定要删除该记录？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var senddata = {
                    url: '/AuthManage/AccountDelete',
                    data: { accountId: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('删除成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('删除失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }
        //用户组添加界面
        function addauthgroup() {
            window.location.href = "/AuthManage/AccountAdd";
        }
        function UserEdit(uid) {
            window.location.href = "/AuthManage/AccountEdit?unitId=" + uid;
        }
        function UserEditPwd(uid)
        {
            window.location.href = "/AuthManage/AccountPwdEdit?unitId=" + uid;
        }
        function editAuthGroupMenu(uid) {
            window.location.href = "/AuthManage/AccountAuth?unitId=" + uid;
        }
    </script>
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" id="LoginName" /></td>
            <td>姓名:</td>
            <td><input type="text" id="Name" /></td>
            <td>注册日期:</td>
            <td width="">
                
            </td>
            <td>
               
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="addauthgroup();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">

</div>