﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Domain.System
@using EduPlatform.SearchModel.System
@model List<AuthGroupInfoModel>
@{
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";
    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "用户权限管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "权限组菜单管理", Href = "/AuthManage/AntuGroupMenu"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@section header{
<script>
        $(function () {
            var treedatas = '@ViewBag.TreeData';
            $.each(treedatas.split("|"), function (pindex, pitem) {
                var data = $('.label-multi input[type=checkbox]');
                $.each(data, function (index, item) {
                    if ($(item).val() == pitem) {
                        $(item).prop('checked', true);
                        return false;
                    }
                });
            });

            $('#submitAuth').click(function () {
                var UserID = $('#UserID').val();
                var AuthID = "";
                $.each($('.label-multi input[type=checkbox]:checked'), function (index, item) {
                    if ($(item).attr('id') != 'all') {
                        AuthID += $(item).val() + "|";
                    }
                });
                var senddata = {
                    url: '/AuthManage/AddUserAuth',
                    data: { AuthID: AuthID, UserID: UserID },
                    success: function (d) {
                        if (d.State == "True") {
                            window.location.href = '/AuthManage/AccountList';
                        }
                    },
                    error: function (d) { }
                };
                ajaxCall(senddata);
            });
        });
</script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/AuthManage/AccountList" })
}
@Html.Hidden("UserID", Request.QueryString["unitId"].ToString())
<div class="col-xs-12">
    <div class="form-group">
        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
        <div class="col-sm-9">@ViewBag.Msg</div>
    </div>
    <div class="tab-pane">
        @foreach (var item in Model)
        {
            @*<div style="display:inline-block;width:500px;margin:0 10px;">*@
               <span style="display:inline-block;width:100px;">
                <label class="label-multi">
                    <input name="SelectedRoleList" type="checkbox" value="@item.ID">@item.GroupName 
                </label>
                </span>
           @*</div>*@
        }
    </div>
    <button type="button" class="btn btn-info" id="submitAuth">
        <i class="icon-ok bigger-110"></i>
        提交
    </button>
</div>
