﻿@{
    ViewBag.Title = "AccountPwdEdit";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "修改密码",
        IsHome = false,
        Href = "/AuthManage/AccountPwdEdit",
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "模块管理", Href = "/authmanage/modulemanage"
          }
        }
    };
}

@using EduPlatform.Manage.Models
@using EduPlatform.Manage.Infrastructure
@model AccountInfo
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/AuthManage/AccountPwdEdit" method="post">

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right">  </label>
            <div class="col-sm-9">
                @ViewBag.Msg
            </div>
            @Html.HiddenFor(t => t.ID)
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 用户名 </label>
            <div class="col-sm-9">
                @Html.DisplayFor(t => t.LoginName)
                @Html.HiddenFor(t => t.LoginName)
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 原密码 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.LoginPwd, new { @class = "col-xs-10 col-sm-5", placeholder = "原密码", type = "password" })
                @Html.ValidationMessageFor(t => t.LoginPwd)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 新密码 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.NewPwd, new { @class = "col-xs-10 col-sm-5", placeholder = "新密码", type = "password" })
                @Html.ValidationMessageFor(t => t.NewPwd)
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 密码确认 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.PwdConfirm, new { @class = "col-xs-10 col-sm-5", placeholder = "密码确认", type = "password" })
                @Html.ValidationMessageFor(t => t.PwdConfirm)
            </div>
        </div>



        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>
