﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Manage.Models
@model AccountInfo
@{
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "用户添加",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "模块管理", Href = "/authmanage/modulemanage"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@section header{
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(function () {
            //
        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/AuthManage/AccountAdd" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/AuthManage/AccountAdd" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 登录名称 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.LoginName, new { @class = "col_xs_10 col_sm_5", placeholder = "登录名称", id = "form-field-1" })
                @Html.ValidationMessageFor(t => t.LoginName)
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 姓名 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.Name, new { @class = "col_xs_10 col_sm_5", placeholder = "姓名", id = "form-field-1" })
                @Html.ValidationMessageFor(t => t.Name)
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 密码 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.LoginPwd, new { @class = "col_xs_10 col_sm_5", type = "password", placeholder = "密码", id = "form-field-1" })
                @Html.ValidationMessageFor(t => t.LoginPwd)
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 确认密码 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.PwdConfirm, new { @class = "col_xs_10 col_sm_5", type = "password", placeholder = "确认密码", id = "form-field-1" })
                @Html.ValidationMessageFor(t => t.PwdConfirm)
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>

