﻿@using EduPlatform.Manage.Infrastructure
@{
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "权限组添加",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "权限组管理", Href = "/AuthManage/AuthGroupList"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@section header{
    <script>
        $(function () {

        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/AuthManage/AuthGroupList" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/AuthManage/AddAuthGroup" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 权限组名称 </label>
            <div class="col-sm-9">
                <input type="text" class="col-xs-10 col-sm-5" placeholder="权限组名称" id="form-field-1" name="GroupName">
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>