﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.SearchModel.System
@model SystemActionMenuInfo
@{
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "菜单添加",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "模块管理", Href = "/authmanage/modulemanage"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@section header{
    <script>
        $(function () {

        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/AuthManage/AddModule" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/AuthManage/AddModule" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(t=>t.ID)
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 模块名称 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.ActionName, new { @class = "col_xs_10 col_sm_5", placeholder = "权限组名称", id = "form-field-1" })
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 图标(ICON) </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.ICON, new { @class = "col_xs_10 col_sm_5", placeholder = "图标", id = "form-field-1" })
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 上级模块 </label>
            <div class="col-sm-9">
                @Html.DropDownListFor(t => t.PID, ViewBag.dataList as SelectList, "---请选择---")
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 链接地址 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.ActionUrl, new { @class = "col_xs_10 col_sm_5", placeholder = "链接地址", id = "form-field-1" })
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 是否为父节点 </label>
            <div class="col-sm-9">
                <select name="IsParent">
                    <option value="">---请选择---</option>
                    @{
                        var type = Request.QueryString["type"];
                        if (type.ToString().Equals("edit"))
                        {
                            if (Model.IsParent == 1)
                            {
                                <option value="1" selected>是</option>
                                <option value="0">否</option>
                            }
                            else
                            {
                                <option value="1">是</option>
                                <option value="0" selected>否</option>
                            }
                        }
                        else
                        {
                            <option value="1">是</option>
                            <option value="0">否</option>
                        }
                     }
                </select>
                @Html.Hidden("Type",type.ToString())
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 排列顺序 </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(t => t.M_Index, new { @class = "col_xs_10 col_sm_5", placeholder = "排列顺序", id = "form-field-1" })
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

    </form>
</div>
