﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Domain.System
@model List<T_SystemActionMenu>
@{
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "权限组菜单管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "权限组菜单管理", Href = "/AuthManage/AntuGroupMenu"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
<style>
    table th,table td{
        text-align:center
    }
</style>
@section header{
    <script>
        $(function () {
            var treedatas = '@ViewBag.TreeData';
            $.each(treedatas.split("|"), function (pindex, pitem) {
                var data = $('#showData input[type=checkbox]');
                $.each(data, function (index, item) {
                    if ($(item).val() == pitem) {
                        $(item).prop('checked', true);
                        return false;
                    }
                });
            });
           
            $('#submitAuth').click(function () {
                var groupID = $('#GroupID').val();
                var authID = "";
                $.each($('#showData input[type=checkbox]:checked'), function (index, item) {
                    if ($(item).attr('id') != 'all') {
                        authID += $(item).val() + "|";
                    }
                });
                var senddata = {
                    url: '/AuthManage/AddGroupMenu',
                    data: { MenuID: authID, GroupID: groupID },
                    success: function (d) {
                        if (d.State == "True") {
                            window.location.href = '/AuthManage/AuthGroupList';
                        }
                    },
                    error: function (d) { }
                };
                ajaxCall(senddata);
            });
        });
        //模块 全选/反选
        function CheckAllModule(val) {
            $("input[name='modulecheck']").each(function () {
                this.checked = val;
            });
        }

        //父模块 选中
        function CheckParent(val, Id) {
            $(".childmodulecheck-" + Id).each(function () {
                this.checked = val;
            });
        }

        //子模块 选中
        function CheckChild(Id) {
            var checkedCount = 0;
            $(".childmodulecheck-" + Id).each(function () {
                if (this.checked) {
                    checkedCount = checkedCount + 1;
                }
            });
            if (checkedCount != 0) {
                $(".parentmodulecheck-" + Id).attr("checked", true);
            } else {
                $(".parentmodulecheck-" + Id).attr("checked", false);
            }
        }

        //权限 全选/反选
        function CheckAllPermission(val) {
            $("input[name='permissioncheck'],input[name='modulectx']").each(function () {
                this.checked = val;
            });
        }

        //父模块 选中
        function CheckParentModulePermission(val, Id) {
            $(".module-" + Id).each(function () {
                this.checked = val;
            });
        }

        //TODO 父权限 选中 
        function CheckParentPermission(val, Id, PId) {
            var checkedCount = 0;
            $(".childpermissioncheck-" + Id).each(function () {
                this.checked = val;
            });
            $(".module-" + PId).each(function () {
                if (this.checked) {
                    checkedCount = checkedCount + 1;
                }
            });
            if (checkedCount != 1) {
                $(".parentallpermissioncheck-" + PId).attr("checked", true);
            } else {
                $(".parentallpermissioncheck-" + PId).attr("checked", false);
            }
        }

        //子权限 选中
        function CheckChildPermission(Id, PId) {
            var checkedCount = 0;
            $(".childpermissioncheck-" + Id).each(function () {
                if (this.checked) {
                    checkedCount = checkedCount + 1;
                }
            });
            if (checkedCount != 0) {
                $(".parentpermissioncheck-" + Id).attr("checked", true);
            } else {
                $(".parentpermissioncheck-" + Id).attr("checked", false);
            }

            var checkedParentCount = 0;
            $(".module-" + PId).each(function () {
                if (this.checked) {
                    checkedParentCount = checkedParentCount + 1;
                }
            });
            if (checkedParentCount != 1) {
                $(".parentallpermissioncheck-" + PId).attr("checked", true);
            } else {
                $(".parentallpermissioncheck-" + PId).attr("checked", false);
            }
        }
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/AuthManage/AuthGroupList" })
}
@Html.Hidden("GroupID", Request.QueryString["unitId"].ToString())
<div class="form-group">
    <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
    <div class="col-sm-9">@ViewBag.Msg</div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="module">
        <table class="module-tbl table table-bordered data-table dataTables_wrapper" id="showData" style="width:600px">
            <thead>
                <tr>
                    <th class="center">
                        行号
                    </th>
                    <th>
                    @*<input type="checkbox" id="all" value="" />*@
                     <input type="checkbox" id="all" onclick="CheckAllModule(this.checked)" />
                    </th>
                    <th>模块(菜单)名称</th>
                    <th>父模块名称</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var pitem in Model)
                {
                    if (!pitem.M_PID.HasValue)
                    {
                        <tr class="">
                            <td width="10%">@pitem.M_RowID</td>
                            <td width="12%">
                                @Html.CheckBox("modulecheck", false,
                                 new
                                 {
                                     @class = "modulecheck parentmodulecheck-" + pitem.M_ID,
                                     @value = pitem.M_ID,
                                     onclick = "CheckParent(this.checked,'" + pitem.M_ID + "')"
                                 })
                            </td>
                            <td width="30%">@pitem.M_ActionName</td>
                            <td width="48%"></td>
                        </tr>
                        var childdata = Model.Where(t => t.M_PID == pitem.M_ID);
                        foreach (var item in childdata)
                        {
                            <tr class="">
                                <td>@item.M_RowID</td>
                                <td>
                                   @Html.CheckBox("modulecheck", false, new
                                   {
                                       @class = "modulecheck childmodulecheck-" + item.M_PID,
                                       @value = item.M_ID,
                                       onclick = "CheckChild('" + item.M_PID + "')"
                                   })
                                </td>
                                <td style="text-align:right">[@item.M_ActionName]</td>
                                <td width="48%">@pitem.M_ActionName</td>
                            </tr>
                        }
                    }
                }
</tbody>
        </table>
        <button type="button" class="btn btn-info" id="submitAuth">
            <i class="icon-ok bigger-110"></i>
            提交
        </button>
    </div>
    </div>
