﻿@{
    ViewBag.Title = "权限组管理";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "权限组列表",
        IsHome = false,
        Href = "/AuthManage/AuthGroupList",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/manage/index", Parent = null, IsHome = true, Name = "控制台"
           }
        }
    };
}
@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}
@section Header{
    <script type="text/javascript">
        function search(page) {
            var groupName = $("#txtGroupName").val();
            var senddata = {
                url: '/AuthManage/AuthGroupResultList',
                data: { Page: page, GroupName: groupName },
                success: function (d) {
                    $("#Container").html(d);
                },
                error: function (d) { }
            };
            ajaxCall(senddata);
        }

        $(function () {
            search(1);
        });

        function deleteAnthGroup(uid) {
            layer.confirm('确定要删除该记录？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                //layer.msg('的确很重要', { icon: 1 });
                var senddata = {
                    url: '/AuthManage/AuthGroupDelete',
                    data: { unitId: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('删除成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('删除失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }
        //用户组添加界面
        function addauthgroup() {
            window.location.href = "/AuthManage/AddAuthGroup";
        }
        function UserEdit(uid) {
            window.location.href = "/AuthManage/AuthGroupEdit?unitId=" + uid;
        }
        function editAuthGroupMenu(uid) {
            window.location.href = "/AuthManage/AntuGroupMenu?unitId=" + uid;
        }
    </script>
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>分组名:</td>
            <td><input type="text" id="txtGroupName" /></td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="addauthgroup();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">

</div>
