﻿@using NPoco
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.SearchModel.User
@using EduPlatform.Framework
@using EduPlatform.ServiceModel
@using EduPlatform.SearchModel.System
@model Page<AuthGroupInfoModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>用户组名称</th>
                <th>用户ID</th>
                <th>用户组状态</th>
                <th>添加时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    <td>
                        @item.GroupName
                    </td>
                    <td>@item.AccountID</td>
                    <td>@item.UseState.ToString().Replace("0","启用").Replace("1","禁用")</td>
                    <td>@item.AddDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                            <button class="btn btn-xs btn-info" onclick="UserEdit('@item.ID');" title="修改用户信息">
                                <i class="icon-edit bigger-120" title="修改用户信息"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" onclick="deleteAnthGroup('@item.ID');" title="删除">
                                <i class="icon-trash bigger-120" title="删除"></i>
                            </button>
                            <button class="btn btn-xs btn-success" onclick="editAuthGroupMenu('@item.ID');" title="设置权限">
                                <i class="icon-sitemap bigger-120" title="设置权限"></i>
                            </button>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div><!-- /.table-responsive -->
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>