﻿@using EduPlatform.Manage.Infrastructure
@using EduPlatform.SearchModel.System
@model SystemActionMenuSearch
@{
    ViewBag.Title = "权限模块管理";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "模块列表",
        IsHome = false,
        Href = "/AuthManage/ModuleManage",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/manage/index", Parent = null, IsHome = true, Name = "控制台"
           }
        }
    };
}

@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}
@section Header{
    <script type="text/javascript">
        function search(page) {
            var groupName = $("#ActionName").val();
            var pid = $('#PID').val();
            var senddata = {
                url: '/AuthManage/ModuleManageReslutList',
                data: { Page: page, ActionName: groupName, PID: pid },
                success: function (d) {
                    $("#Container").html(d);
                },
                error: function (d) { }
            };
            ajaxCall(senddata);
        }

        $(function () {
            search(1);
        });

        function deleteAnthGroup(uid) {
            layer.confirm('确定要删除该记录？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                //layer.msg('的确很重要', { icon: 1 });
                var senddata = {
                    url: '/AuthManage/ModuleDelete',
                    data: { unitId: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('删除成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('删除失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }
        //用户组添加界面
        function addauthgroup() {
            window.location.href = "/AuthManage/AddModule?type=add";
        }
        function UserEdit(uid) {
            window.location.href = "/AuthManage/AddModule?type=edit&unitId=" + uid;
        }
    </script>
}




<div class="col-xs-12">
    <table>
        <tr>
            <td>模块名称:</td>
            <td>@Html.TextBoxFor(t=>t.ActionName)</td>
            <td>上级模块:</td>
            <td>@Html.DropDownListFor(t => t.PID, ViewBag.dataList as SelectList,"---请选择---")</td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="addauthgroup();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">

</div>
