﻿@using NPoco
@using EduPlatform.SearchModel.System
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@model Page<SystemActionMenuInfo>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th class="center">模块(菜单)名称</th>
                <th>上级模块</th>
                <th>链接地址</th>
                <th>排序</th>
                <th>是否父节点</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model.Items)
             {
                <tr>
                    <td class="center">@item.RowID</td>
                    @if (string.IsNullOrEmpty(item.Parent_Name))
                    {
                        <td style="text-align:center">
                            <i class="@item.ICON"></i>
                            @item.ActionName
                        </td>
                    }
                    else
                    {
                        <td style="text-align:right">
                            [@item.ActionName]
                        </td>
                    }
                   
                    <td>@item.Parent_Name</td>
                    <td>@item.ActionUrl</td>
                    <td>@item.M_Index</td>
                    <td>@(item.IsParent==1?"是":"否")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                            <button class="btn btn-xs btn-info" onclick="UserEdit('@item.ID');" title="修改">
                                <i class="icon-edit bigger-120" title="修改"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" onclick="deleteAnthGroup('@item.ID');" title="删除">
                                <i class="icon-trash bigger-120" title="删除"></i>
                            </button>
                        </div>

                    </td>
                </tr>
                
             }   
        </tbody>
    </table>
</div><!-- /.table-responsive -->
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>