﻿@{
    ViewBag.Title = "AccountList";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "教师用户列表",
        IsHome = false,
        Href = "/AuthManage/TeacherAccountList",
        Parent = new List<NavigateInfo>() {
           new NavigateInfo(){
             Href = "/manage/index", Parent = null, IsHome = true, Name = "控制台"
           }
        }
    };
}
@using EduPlatform.Manage.Infrastructure
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = navigate.Href })
}
@section Header{
    <link type="text/css" charset="UTF-8" rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/assets/js/date-time/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        function search(page) {
            var loginName = $("#LoginName").val();
            var name = $('#Name').val();
            var beginDate = $('#txtStartDate').val();
            var endDate = $('#txtEndDate').val();
            var senddata = {
                url: '/AuthManage/AccountResultList',
                data: { LoginName: loginName, Name: name, BeginDate: beginDate, EndDate: endDate },
                success: function (d) {
                    $("#Container").html(d);
                },
                error: function (d) { }
            };
            ajaxCall(senddata);
        }

        $(function () {
            $('#txtEndDate,#txtStartDate').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: 'yyyy-mm-dd'
            });
            search(1);
        });

        function deleteAccount(uid) {
            layer.confirm('确定要删除该记录？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                //layer.msg('的确很重要', { icon: 1 });
                var senddata = {
                    url: '/AuthManage/AccountDelete',
                    data: { unitId: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('删除成功', { icon: 1 });
                            search(1);
                        }
                        else {
                            layer.msg('删除失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }
        //用户组添加界面
        function addauthgroup() {
            window.location.href = "/AuthManage/AccountAdd";
        }
        function UserEdit(uid) {
            window.location.href = "/AuthManage/AccountEdit?unitId=" + uid;
        }
        function UserEditPwd(uid)
        {
            window.location.href = "/AuthManage/AccountPwdEdit?unitId=" + uid;
        }
        function editAuthGroupMenu(uid) {
            window.location.href = "/AuthManage/AccountAuth?unitId=" + uid;
        }
    </script>
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" id="LoginName" /></td>
            <td>姓名:</td>
            <td><input type="text" id="Name" /></td>
            <td>注册日期:</td>
            <td width="">
                <input type="text" name="BeginDate" id="txtStartDate" class="form-control date-picker col-xs-10 col-sm-5">
                @*<span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>*@
            </td>
            <td>
                <input type="text" name="EndDate" id="txtEndDate" class="form-control date-picker col-xs-10 col-sm-5">
                @*<span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>*@
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="addauthgroup();">
                    添加
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">

</div>