﻿@{
    
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "单位添加",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "单位管理", Href = "/unit/unitlist"
          }
        }
    };
    ViewBag.Title = navigate.Name;

    Guid unitId = Guid.NewGuid();
    var puid = Request["puid"];
}
@*@model List<EduPlatform.Domain.System.T_GradeInfo>*@
@model TeacherClassRoomModel.ViewModel.UnitEditViewModel
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Framework
@section header{
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/zTreeStyle/zTreeStyle.css" />
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.excheck-3.5.min.js"></script>
   <script type="text/javascript">
       var setting = {
           check: {
               enable: true,
               chkStyle: "radio",
               radioType: "all"
           },
           view: {
               dblClickExpand: false
           },
           data: {
               simpleData: {
                   enable: true
               }
           },
           callback: {
               onClick: onClick,
               onCheck: onCheck
           },
           async: {
               enable: true,
               url: "/unit/getunits",
               autoParam: ["id", "name=n", "level=lv"],
               otherParam: { "pid": "0","cid":"0","selectedgui":'@puid' },
               dataFilter: filter
           }
       };

       

       $(function () {
           
           var cityData = {
               url: '/common/getareainfo',
               data: { pid: 0 },
               success: function (d) {
                   var html = "";
                   for(var i = 0;i<d.length;i++)
                   {
                       html += "<option value="+d[i].AreaID+">"+d[i].AreaName+"</option>";
                   }

                   $("#ddlProvince").html(html);
                   loadCity();
               },
               error:function(d){}
           };
           ajaxCall(cityData);

           //loadunits();
           $.fn.zTree.init($("#treeDemo"), setting);
       });

       function loadCity() {
           var pid = $("#ddlProvince").val();
           var cityData = {
               url: '/common/getareainfo',
               data: { pid: pid },
               success: function (d) {
                   var html = "";
                   for (var i = 0; i < d.length; i++) {
                       html += "<option value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                   }

                   $("#ddlCity").html(html);
               },
               error: function (d) { }
           };
           ajaxCall(cityData);
       }

       function onClick(e, treeId, treeNode) {
           var zTree = $.fn.zTree.getZTreeObj("treeDemo");
           zTree.checkNode(treeNode, !treeNode.checked, null, true);
           return false;
       }

       function onCheck(e, treeId, treeNode) {
           var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
           nodes = zTree.getCheckedNodes(true),
           
           v = "";
           //alert(nodes[0].id);
           for (var i = 0, l = nodes.length; i < l; i++) {
               v += nodes[i].name + ",";
           }
           if (v.length > 0) v = v.substring(0, v.length - 1);
           var cityObj = $("#citySel");
           cityObj.attr("value", v);
           $("#parentUnit").attr("value",nodes[0].id);
       }

       function showMenu() {
           var cityObj = $("#citySel");
           var cityOffset = $("#citySel").offset();
           $("#menuContent").css({ left: cityOffset.left + "px", top: cityOffset.top + cityObj.outerHeight()-40 + "px" }).slideDown("fast");

           $("body").bind("mousedown", onBodyDown);
       }
       function hideMenu() {
           $("#menuContent").fadeOut("fast");
           $("body").unbind("mousedown", onBodyDown);
       }
       function onBodyDown(event) {
           if (!(event.target.id == "menuBtn" || event.target.id == "citySel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
               hideMenu();
           }
       }

       function filter(treeId, parentNode, childNodes) {
           if (!childNodes) return null;
           for (var i = 0, l = childNodes.length; i < l; i++) {
               childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
           }
           return childNodes;
       }
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/unit/unitlist" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 单位编号 </label>
            <div class="col-sm-9">
                <input type="text" class="col-xs-10 col-sm-5" placeholder="单位编号" disabled="disabled" id="form-field-1" name="UnitId" value="@unitId.ToDString()">
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 单位名称 </label>
            <div class="col-sm-9">
                <input type="text" class="col-xs-10 col-sm-5" placeholder="单位名称" id="form-field-1" name="UnitName">
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 所在城市 </label>
            <div class="col-sm-9">
                <select id="ddlProvince" onchange="loadCity();" name="Province"></select>
                <select id="ddlCity" name="City"></select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段 </label>
            <div class="col-sm-9">
                

                @foreach (var g in Model.Grades.OrderBy(item=>item.Grade_Index))
                {
                    <div class="checkbox" style="padding-top:0px;">
                        <label>
                            <input type="checkbox" class="ace" name="grade" value="@g.Grade_ID">
                            <span class="lbl"> @g.Grade_Name </span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 上级单位 </label>
            <div class="col-sm-9" style="position: relative;">
                <input id="citySel" type="text" class="col-xs-10 col-sm-5" readonly value="@(Model.UnitInfo!=null?Model.UnitInfo.Unit_Name:string.Empty)" onclick="showMenu();" />
                <input id="parentUnit" name="parentunit" type="hidden" value="@(Model.UnitInfo!=null?Model.UnitInfo.Unit_ID.ToString():string.Empty)" />
            </div>

        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>
        
    </form>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
            <ul id="treeDemo" class="ztree" style="margin-top:0; width:280px; height: 300px;"></ul>
        </div>
