﻿@{

    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "单位编辑",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "单位管理", Href = "/unit/unitlist"
          }
        }
    };
    ViewBag.Title = navigate.Name;

    Guid unitId = Guid.NewGuid();
}
@model TeacherClassRoomModel.ViewModel.UnitEditViewModel
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Framework
@section header{
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/zTreeStyle/zTreeStyle.css" />
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript">
       var setting = {
           check: {
               enable: true,
               chkStyle: "radio",
               radioType: "all"
           },
           view: {
               dblClickExpand: false
           },
           data: {
               simpleData: {
                   enable: true
               }
           },
           callback: {
               onClick: onClick,
               onCheck: onCheck
           },
           async: {
               enable: true,
               url: "/unit/getunits",
               autoParam: ["id", "name=n", "level=lv"],
               otherParam: { "pid": "0","cid":"0","selectedgui":'@Model.UnitInfo.Unit_PID' },
               dataFilter: filter
           }
       };

        function resetaccountpwd(uid) {
            
            layer.confirm('确定要重置登录密码？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var senddata = {
                    url: '/account/resetaccountpwd',
                    data: { uid: uid },
                    success: function (d) {
                        if (d.Success) {
                            layer.msg('重置成功,新密码为：' + d.Data, { icon: 1 });
                        }
                        else {
                            layer.msg('重置失败', { icon: 2 });
                        }
                    }
                };

                ajaxCall(senddata);
            }, function () {

            });
        }

       $(function () {

           var cityData = {
               url: '/common/getareainfo',
               data: { pid: 0 },
               success: function (d) {
                   var html = "";
                   for(var i = 0;i<d.length;i++)
                   {
                       
                       if(d[i].AreaID==parseInt('@Model.UnitInfo.Unit_ProvinceID')){
                           html += "<option selected='selected' value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                       }
                       else {
                           html += "<option value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                       }
                   }

                   $("#ddlProvince").html(html);
                   loadCity();
               },
               error:function(d){}
           };
           ajaxCall(cityData);

           //loadunits();
           $.fn.zTree.init($("#treeDemo"), setting);

           var grades = '@Model.UnitInfo.Unit_Grade';
           var gradearr = grades.split(',');

           $('input[name="grade"]').each(function (index, val) {

               var exists = false;
               for(var i=0;i<gradearr.length;i++){
                   if(gradearr[i]==$(val).val()){
                       exists=true;
                       break
                   }
               }
               if(exists) $(val).prop('checked',true);
           });
       });

       function loadCity() {

           var pid = $("#ddlProvince").val();
           var cityData = {
               url: '/common/getareainfo',
               data: { pid: pid },
               success: function (d) {
                   var html = "";
                   for (var i = 0; i < d.length; i++) {

                       if (d[i].AreaID == parseInt('@Model.UnitInfo.Unit_CityID')) {
                           html += "<option selected='selected' value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                       }
                       else {
                           html += "<option value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                       }
                   }

                   $("#ddlCity").html(html);
               },
               error: function (d) { }
           };
           ajaxCall(cityData);
       }

       function onClick(e, treeId, treeNode) {
           var zTree = $.fn.zTree.getZTreeObj("treeDemo");
           zTree.checkNode(treeNode, !treeNode.checked, null, true);
           return false;
       }

       function onCheck(e, treeId, treeNode) {
           var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
           nodes = zTree.getCheckedNodes(true),

           v = "";
           //alert(nodes[0].id);
           for (var i = 0, l = nodes.length; i < l; i++) {
               v += nodes[i].name + ",";
           }
           if (v.length > 0) v = v.substring(0, v.length - 1);
           var cityObj = $("#citySel");
           cityObj.attr("value", v);
           $("#parentUnit").attr("value",nodes[0].id);
       }

       function showMenu() {
           var cityObj = $("#citySel");
           var cityOffset = $("#citySel").offset();
           $("#menuContent").css({ left: cityOffset.left + "px", top: cityOffset.top + cityObj.outerHeight()-40 + "px" }).slideDown("fast");

           $("body").bind("mousedown", onBodyDown);
       }
       function hideMenu() {
           $("#menuContent").fadeOut("fast");
           $("body").unbind("mousedown", onBodyDown);
       }
       function onBodyDown(event) {
           if (!(event.target.id == "menuBtn" || event.target.id == "citySel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
               hideMenu();
           }
       }

       function filter(treeId, parentNode, childNodes) {
           if (!childNodes) return null;
           for (var i = 0, l = childNodes.length; i < l; i++) {
               childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
           }
           return childNodes;
       }
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/unit/unitlist" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/unit/editunit" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9">@ViewBag.Msg</div>
        </div>
        <div class="form-group">
            <label for="form-field-1" style="padding-top:4px;" class="col-sm-3 control-label no-padding-right"> 单位编号 </label>
            <div class="col-sm-9">
                <label class="control-label">@Model.UnitInfo.Unit_ID.ToString()</label>
                <input type="hidden" name="UnitId" value="@Model.UnitInfo.Unit_ID.ToString()" />
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 单位名称 </label>
            <div class="col-sm-9">
                <input value="@Model.UnitInfo.Unit_Name" type="text" class="col-xs-10 col-sm-5" placeholder="单位名称" id="form-field-1" name="UnitName">
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 所在城市 </label>
            <div class="col-sm-9">
                <select id="ddlProvince" onchange="loadCity();" name="Province">
                </select>
                <select id="ddlCity" name="City"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段 </label>
            <div class="col-sm-9">
                
                @foreach (var g in Model.Grades.OrderBy(item=>item.Grade_Index))
                {
                    <div class="checkbox" style="padding-top:0px;">
                        <label>
                            <input type="checkbox" class="ace" name="grade" value="@g.Grade_ID">
                            <span class="lbl"> @g.Grade_Name </span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 上级单位 </label>
            <div class="col-sm-9" style="position: relative;">
                <input id="citySel" type="text" class="col-xs-10 col-sm-5" readonly value="@Model.UnitInfo.Unit_PName" onclick="showMenu();" />
                <input id="parentUnit" name="parentunit" type="hidden" />
            </div>
        </div>
        @if (@Model.AccountInfo!=null)
        {
            <div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 管理员名称 </label>
                <div class="col-sm-9">
                    <input value="@Model.AccountInfo.Account_Name.ToString()" type="text" class="col-xs-10 col-sm-5" placeholder="管理员名称" id="form-field-1" name="AccountName">
                </div>
            </div>
            <div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 管理员登录名 </label>
                <div class="col-sm-9">
                    <input value="@Model.AccountInfo.Account_LoginName.ToString()" type="text" class="col-xs-10 col-sm-5" placeholder="管理员登录名称" id="form-field-1" name="AccountLoginName">
                    <button type="button" class="btn btn-xs btn-success" onclick="resetaccountpwd('@Model.AccountInfo.Account_ID');" title="重置用户密码">
                        <i class="icon-ok bigger-120" title="重置用户密码"></i>
                    </button>
                </div>
            </div>
        }

        
        <div class="clearfix form-actions">
            <div class="col-md-offset-4 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
                @*&nbsp; &nbsp; &nbsp;
                <button type="reset" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>*@
            </div>
        </div>

    </form>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:280px; height: 300px;"></ul>
</div>
