﻿@using NPoco
@using EduPlatform.SearchModel.User
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.ServiceModel
@using EduPlatform.Framework
@model Page<UnitInfoModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>单位名称</th>
                <th>单位编号</th>
                <th>上级单位</th>
                <th>城市</th>
                
                <th class="hidden-480">类型</th>
                <th>
                    添加时间
                </th>
                <th class="hidden-480">有效状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    <td>
                        @Html.ActionLink(item.UnitName, "unitlist", new { unitid = item.UnitID })
                    </td>
                    <td>@item.UnitID</td>
                    
                    <td>@item.PUnitName</td>
                    
                    <td>@Html.Raw(item.ProvinceName+item.CityName)</td>
                    
                    <td class="hidden-480">
                        @EnumHelper.GetDescription((EduPlatform.ServiceModel.UnitInfoType)item.Type)
                    </td>
                    <td>@item.AddDate.ToString("yyyy-MM-dd")</td>
                    <td class="hidden-480">
                        @Html.Raw(item.State==1?"有效":"无效")
                    </td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                            <button class="btn btn-xs btn-info" onclick="editunit('@item.UnitID');" title="编辑">
                                <i class="icon-edit bigger-120"></i>
                            </button>
                            @if (item.State == 1)
                            {
                                <button class="btn btn-xs btn-danger" onclick="changeUnitState('@item.UnitID',0);" title="禁用">
                                    <i class="icon-trash bigger-120"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-xs btn-success" onclick="changeUnitState('@item.UnitID',1);" title="启用">
                                    <i class="icon-chevron-right bigger-120"></i>
                                </button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>