﻿@{
    
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "单位管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "单位管理", Href = "/unit/unitlist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
    var puid = Request["unitid"];
}
@model List<EduPlatform.Domain.System.T_GradeInfo>
@using EduPlatform.Manage.Infrastructure
@section header{
   <script type="text/javascript">

       var importopenindex = -1;

       function importUnit() {
           importopenindex = layer.open({
               type: 1,
               title: '学生信息导入',
               maxmin: false,
               area: ['500px', '300px'],
               shade: false,
               scrollbar: false,
               content: $('#importUnitContainer')
           });
       }

       function addunit() {
           window.location.href = "addunit?puid=" + '@puid';
       }

       function editunit(id) {
           window.location.href = "editunit?unitid=" + id;
       }

       function changeUnitState(id,state) {
           //layer.msg('删除成功');

           var senddata = {
               url: '/unit/unitdelete',
               data: { 'unitid': id, 'state': state },
               success: function (d) {
                   if (d.Success) {
                       layer.msg(d.Message, { icon: 1 });
                       search(1);
                   }
                   else {
                       layer.msg(d.Message, { icon: 2 });
                   }
               }
           };
           if (state == 0) {
               layer.confirm('确定要禁用该单位？', {
                   btn: ['确定', '取消'] //按钮
               }, function () {
                   ajaxCall(senddata);

               }, function () {

               });
           }
           else {
               ajaxCall(senddata);
           }
       }

       function search(p) {

           var unitid = '@puid'
           var senddata = {
               url: '/unit/unitresultlist',
               data: { page: p,unitName:$("#txtUnitName").val(),unitid:unitid },
               success: function (d) {
                   $("#Container").html(d);
               }
           };
           ajaxCall(senddata);
       }

       function loadCity() {
           var pid = $("#ddlProvince").val();
           var cityData = {
               url: '/common/getareainfo',
               data: { pid: pid },
               success: function (d) {
                   var html = "";
                   for (var i = 0; i < d.length; i++) {
                       html += "<option value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                   }

                   $("#ddlCity").html(html);
               },
               error: function (d) { }
           };
           ajaxCall(cityData);
       }

       $(function () {
           search(1);

           var cityData = {
               url: '/common/getareainfo',
               data: { pid: 0 },
               success: function (d) {
                   var html = "";
                   for (var i = 0; i < d.length; i++) {
                       html += "<option value=" + d[i].AreaID + ">" + d[i].AreaName + "</option>";
                   }

                   $("#ddlProvince").html(html);
                   loadCity();
               },
               error: function (d) { }
           };
           ajaxCall(cityData);

           //ajax提交
           var options = {
               success: function (data) {
                   if (data.ResponseCode == 1000) {
                       layer.msg(data.ResponseText, { icon: 1 });
                       search(1);
                   }
                   else {
                       layer.msg(data.ResponseText, { icon: 2 });
                   }

                   layer.close(importopenindex);
               }
           };

           $("#importform").ajaxForm(options);
       });

       function backUnit() {
           window.history.back();
       }
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/unit/unitlist" })
}
    <div class="col-xs-12">
        <table>
            <tr>
                <td>单位名称:</td>
                <td>
                    <input type="text" id="txtUnitName"/>
                </td>
                <td>
                    <button class="width-135 bottom-left btn btn-sm btn-primary" style="" type="button" onclick="search(1);">
                        查询
                    </button>
                </td>
                <td>
                    <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="addunit();">
                        添加
                    </button>
                </td>
                <td>
                    <button class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="importUnit();">
                        导入
                    </button>
                </td>
                @if (puid != null)
                {
                    <td>
                        <a class="width-135 pull-right btn btn-sm btn-primary" type="button" onclick="backUnit();">
                            返回
                        </a>
                    </td>
                }
            </tr>
        </table>
    </div>
    <div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>
<div style="display:none;width:90%;" id="importUnitContainer">
    <form class="form-horizontal" enctype="multipart/form-data" method="post" id="importform" action="@Url.Action("ImportUnit")">
        <input type="hidden" value="@puid" name="PUid" />
        @if (puid == null)
        {
            <div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 所在城市 </label>
                <div class="col-sm-9">
                    <select id="ddlProvince" onchange="loadCity();" name="Province"></select>
                    <select id="ddlCity" name="City"></select>
                </div>
            </div>
        }
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段： </label>
            <div class="col-sm-9">

                @foreach (var g in Model)
                {
                    <div class="checkbox" style="padding-top:0px;">
                        <label>
                            <input type="radio" class="ace" name="grade" value="@g.Grade_ID">
                            <span class="lbl"> @g.Grade_Name </span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 文件上传： </label>
            <div class="col-sm-9" style="padding-top:5px;">
                <input type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button class="width-135 pull-right btn btn-sm btn-primary" type="submit">
                    提交
                </button>
            </div>
        </div>
    </form>
</div>
