﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="sou">
    <div class="sou-left">
        <div class="ming-top" ng-include="'htmls/shadowtool.html'" onload="shadowloaded()"></div>
        <div class="ming-lie">
            <ul>
                <li ng-repeat="press in bookpresslist" ng-click="changeBookPress(press)" ng-class="{true: 'dian-lan', false: ''}[videoquery.bookpressinfo.PressID==press.PressID]">{{press.PressName.substr(0,8)+'...'}}</li>
            </ul>
        </div>
    </div>
</div>