﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="sou">
    <div class="sou-left">
        <div class="ming-top" ng-include="'htmls/shadowtool.html'" onload="shadowloaded()"></div>
        <div class="ming-lie">
            <ul>
                <li ng-repeat="book in booklist" ng-click="changeBook(book)" ng-class="{true: 'dian-lan', false: ''}[videoquery.bookinfo.BookID==book.BookID]">{{book.BookName}}</li>
            </ul>
        </div>
    </div>
</div>