﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>

<div class="tan">
    <div class="tan-left" style="width:65%;">
        <div class="tan-top"><img src="images/a26.png"></div>
        <div class="tan-xia">

            <div class="bo-qian" ng-repeat="video in playedlist track by video.videoid ">
                <div class="bo-left">
                    <p>
                        <a href="#"></a> <a href="#">
                            <span>{{video.videoname}}</span>
                        </a>
                    </p>
                </div>
                <div class="bo-right"><a href="#" ng-click="removePlayedItem()"><img src="images/a24.png"></a></div>
                <div class="bo-right"><p>{{video.videolengthinfo}}</p></div>
                <div class="bo-right">
                    <p>{{video.subjectname}}</p>
                </div>
            </div>
        </div>
        <div class="an-xia"><a href="#" ng-click="clearPlaylist()"><img src="images/a25.png"></a></div>
    </div>
    <div class="tan-right"><a href="#" ng-click="changeCondition(-1)"><img src="images/a1.png"></a></div>
</div>