﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="sou">
    <div class="sou-left">
        <div class="ming-top" ng-include="'htmls/shadowtool.html'" onload="shadowloaded()"></div>
        <div class="ming-lie">
            <ul>
                <li ng-repeat="grade in gradelist" ng-click="changeGrade(grade)" ng-class="{true: 'dian-lan', false: ''}[videoquery.gradeinfo.GradeID==grade.GradeID]">{{grade.GradeName}}</li>
            </ul>
        </div>
    </div>
</div>