﻿<script id="recursion" type="text/ng-template">
    <div class="xia1" ng-repeat="item in knowledgelist|filter:{PID: '10e90a62-2694-4440-9dec-7d4f75b462c2'}">
        <div class="xia1-left">
            <p>
                <input class="kuang1" type="checkbox">
                <a href="#">{{item.KnowledgeValue}}{{item.PID}}</a>
            </p>
        </div>
        <div class="xia1-right"><a href="#"><img src="images/a3.png"></a></div>
    </div>
</script>
<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="tan">
    <div class="tan-left">
        <div class="tan-top"><img src="images/a2.png"></div>
        <div class="tan-xia" style="height:338px;" id="knowledgecontainer">
            <div id="booktree" class="ztree"></div>
        </div>
        <div class="an-xia"><a href="#"><img ng-click="changeKnowledge()" src="images/a5.png"></a></div>
    </div>
    <div class="tan-right"><a href="#"><img ng-click="changeCondition(-1)" src="images/a1.png"></a></div>
</div>