﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="sou">
    <div class="sou-left">
        <div class="ming-top" ng-include="'htmls/shadowtool.html'" onload="shadowloaded()"></div>
        <div class="ming-lie">
            <ul>
                <li ng-repeat="order in orderinfo" ng-click="changeOrder(order)" ng-class="{true: 'dian-lan', false: ''}[videoquery.orderinfo.orderindex==order.orderindex]">{{order.ordername}}</li>
            </ul>
        </div>
    </div>
</div>