﻿<div class="gridContainer clearfix"></div>
<!--框start-->
<div class="fan2"><a href="#"><img src="images/a9.png"></a></div>
<div class="bobo" style="margin-bottom:0px;">
    <div class="fan3"><a href="#"><img class="you" src="images/a37.png"></a></div>
    <div class="bobo-top">
        <p>人教版六上 直线与线段 单元测试题答案与解析 - 杨一舟</p>
    </div>
    <div class="bobo-top2">上传时间：2016年9月24日</div>
    <div class="bokuang">
        <img src="images/a40.png"><!--这里直接去掉img图片，然后加上你的播放器就行-->
    </div>
    <div class="bobo-zi"><p><span>视频简介：</span>                 一定要看懂题。读题，明确条件这是基本的，还在读题的基础上做出一定的分析和思考，更深一点是明白出题人的意图。比如这道题，当你读到梯形并且AB=CD，需要想到什么？ok，等腰梯形，但止步与此是不行的，这个时候脑子中要过一遍等腰梯形的各种性质，比如底角相等，比如对角线相等，比如对角线分出两个等腰三角形，这些是学习的时候就应该掌握的基础，每做一道相关的题目都要能快速的过</p></div>
    <div class="bobo-dian">
        <a href="#"><img ng-click="showIntroduct()" src="images/a38.png"></a>
        <a href="#"><img src="images/a39.png"></a>
    </div>
</div>
<!--框end-->