﻿<div class="tan-bei"></div>

<div class="bolie666 tantantan">
    <div class="bolie-left">
        <div class="bolie-top">
            <div class="bolie-top-left"><img src="images/1.png"></div>
            <div class="bolie-top-middle"><img src="images/a41.png"><a href="#"><img class="youyou2" src="images/a44.png"></a></div>
            <div class="bolie-top-left"><img src="images/3.png"></div>
        </div>

        <div class="bolie-bottom">
            <div class="bolie8-xia">
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span><img src="images/a23.png"></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
                <div class="bo6-qian">
                    <div class="bo6-left">
                        <p>
                            <a href="#"></a>
                            <a href="#"><span></span>威尔史密斯与外星人</a>
                        </p>
                    </div>
                    <div class="bo6-right"><a href="#">删除</a></div>
                    <div class="bo6-right"><p>00:06:30</p></div>
                    <div class="bo6-right"><p>地理</p></div>
                </div>
            </div>
            <div class="an9-xia"><a href="#"><img src="images/a45.png"></a></div>
        </div>
    </div>
</div>