﻿<div class="tan-bei"></div>
<div class="sou">
    <div class="sou-left">
        <div class="sou-top">
            <a href="#" style="float:left;margin-left:10px;"><img src="images/a31.png" style="margin-top:20px;"></a>
            <input ng-keypress="searchPress($event)" type="search" class="sous" style="margin-top:15px;float:left" name="search" placeholder="输入关键字搜索相关内容" id="search" ng-model="videoquery.videoname">
            <a href="#" ng-click="manueSearch()"><img style="margin-top:10px;" src="images/a33.png"></a>&nbsp;&nbsp;
            <a href="#" ng-click="changeCondition(-1)"><img src="images/a34.png"></a>
        </div>
        <div class="sou-xia" style="height:320px;">
            <div class="zuij">
                <div class="zuij-left zuijin-sou">最近搜过</div>
            </div>
            <div class="zuij" ng-repeat="search in searchedlist" ng-click="selectSearchItem(search)">
                <div class="zuij-left"><a href="#">{{search}}</a></div>
                <div class="zuij-right"><a href="#" ng-click="removeSearchedItem(search)"><img src="images/a35.png"></a></div>
            </div>
        </div>
        <div class="an-xia"><a href="#" ng-click="clearSearched()"><img src="images/a29.png"></a></div>
    </div>
</div>