﻿<div class="ming-left" style="margin-left:3px;">
    <ul>
        <li sign="0" ng-click="changeCondition(0)">学段：{{videoquery.gradeinfo.GradeName}}<img src="images/a16.png"></li>
        <li sign="1" ng-click="changeCondition(1)">学科：{{videoquery.subjectinfo.SubjectName}}<img src="images/a16.png"></li>
        <li sign="2" ng-click="changeCondition(2)">教材版本：{{videoquery.bookpressinfo.PressName.substr(0,3)+'...'}}<img src="images/a16.png"></li>
        <li sign="3" ng-click="changeCondition(3)">年级：{{videoquery.subgradeinfo.SubGradeName}}<img src="images/a16.png"></li>
        <li sign="4" ng-click="changeCondition(4)">册别：{{videoquery.bookinfo.BookName}}<img src="images/a16.png"></li>
        <li sign="10" ng-click="changeCondition(10)">排序：{{videoquery.orderinfo.ordername}}<img src="images/a16.png"></li>
    </ul>
</div>
<div class="ming-right" style="margin-right:0px;position:absolute;right:15px;"><a href="#"><img src="images/a15.png"></a></div>