﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="sou">
    <div class="sou-left">
        <div class="ming-top" ng-include="'htmls/shadowtool.html'" onload="shadowloaded()"></div>
        <div class="ming-lie">
            <ul>
                <li ng-repeat="subgrade in subgradelist" ng-click="changeSubGrade(subgrade)" ng-class="{true: 'dian-lan', false: ''}[videoquery.subgradeinfo.SubGradeId==subgrade.SubGradeId]">{{subgrade.SubGradeName}}</li>
            </ul>
        </div>
    </div>
</div>