﻿<div class="tan-bei" ng-click="changeCondition(-1)"></div>
<div class="sou">
    <div class="sou-left">
        <div class="ming-top" ng-include="'htmls/shadowtool.html'" onload="shadowloaded()"></div>
        <div class="ming-lie">
            <ul>
                <li ng-repeat="subject in subjectlist" ng-click="changeSubject(subject)" ng-class="{true: 'dian-lan', false: ''}[videoquery.subjectinfo.SubjectID==subject.SubjectID]">{{subject.SubjectName}}</li>
            </ul>
        </div>
    </div>
</div>