﻿.page{overflow:hidden;font:16px/30px,'\5FAE\8F6F\96C5\9ED1';text-align:left}
.page a,.page span{display:inline-block;padding:0 10px;height:25px;border:1px solid #d5d5d5;background-position:0 0;text-align:center;vertical-align:middle}
.article .article-source img,.article-list .article-source img{vertical-align:top}
.page .current{border-color:#eb6d05;background-position:-200px -164px;color:#fff}
.page .morelink{margin:0;padding:0;width:20px;border:0;background:0 0;font-family:Arial;font-weight:700}
.page .next-button,.page .nonext,.page .noprev,.page .prev-button{width:65px;padding:0}
.page a:hover{color:#c00;text-decoration:underline}
.page .nonext:hover,.page .noprev:hover{background:#151515;color:#c00}
a.selectpage{text-decoration:underline}