﻿@{
    ViewBag.Title = "GradeList";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "学段管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "资源管理", Href = "/resource/questionbanklist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@model List<T_GradeInfo>
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/resource/gradelist" })
}
<div class="col-xs-12" id="Container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="sample-table-1">
            <thead>
                <tr>
                    
                    <th>学段名称</th>
                    <th>英文标识</th>
                    <th>学段编号</th>
                    
                    <th class="hidden-480">状态</th>
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="">
                        
                        <td>
                            @item.Grade_Name
                        </td>
                        <td>@item.Grade_Code</td>
                        <td class="hidden-480">@item.Grade_ID</td>
                        
                        <td class="hidden-480">
                            @Html.Raw(item.Grade_State == 1 ? "有效" : "无效")
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>