﻿@{
    ViewBag.Title = "QuestionTypeList";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "题型管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "资源管理", Href = "/resource/questionbanklist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using NPoco
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure

@section header{
    <script type="text/javascript">

        function loadSubject() {
            var gradeId = $("#ddlGrade").val();
            var senddata = {
                url: '/common/getsubject',
                data: { gradeId: gradeId },
                success: function (d) {
                    var html = "";
                    html += "<option value=''>全部</option>";
                    if ($.trim(gradeId) != "") {
                        for (var i = 0; i < d.length; i++) {
                            html += "<option value='" + d[i].SubjectID + "'>" + d[i].SubjectName + "</option>";
                        }
                    }


                    $("#ddlSubject").html(html);
                }
            };

            ajaxCall(senddata);
        }

        function loadgrades() {
            var senddata = {
                url: '/common/getgrade',
                data: {},
                success: function (d) {
                    var html = "";
                    html += "<option value=''>全部</option>";
                    for (var i = 0; i < d.length; i++) {
                        html += "<option value='" + d[i].GradeID + "'>" + d[i].GradeName + "</option>";
                    }

                    $("#ddlGrade").html(html);
                    loadSubject();
                }
            };

            ajaxCall(senddata);
        }

        function search(p) {
            var examType = $("#ddlExamType").val();
            var grade = $("#ddlGrade").val();
            var subject = $("#ddlSubject").val();
            var senddata = {
                url: '/resource/QuestionTypeListResult',
                data: { page: p, examtype: examType,grade:grade,subject:subject },
                success: function (d) {
                    $("#Container").html(d);
                }
            };
            ajaxCall(senddata);
        }

        $(function () {
            $("#ddlGrade").on("change", function () {
                loadSubject();
            });
            loadgrades();
            search(1);
        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/resource/questiontypelist" })
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>课程类型</td>
            <td>
                <select id="ddlExamType">
                    <option value="0">经典试题</option>
                    <option value="1">同步试题</option>
                </select>
            </td>
            <td>学段:</td>
            <td>
                <select name="GradeID" id="ddlGrade"></select>
            </td>
            <td>课程:</td>
            <td>
                <select name="subjectID" id="ddlSubject"></select>
            </td>
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary" style="margin-right:10px;" type="button" onclick="search(1);">
                    查询
                </button>

            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>