﻿
@model Page<QuestionTypeDetailInfo>
@using NPoco
@using EduPlatform.SearchModel.Basal
@using EduPlatform.Manage.Infrastructure
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>课程</th>
                <th>学段</th>
                <th class="hidden-480">题型名称</th>
                <th>
                    题型编号
                </th>
                <th class="hidden-480">状态</th>
                
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    <td>
                        @item.SubjectName
                    </td>
                    <td>@item.GradeName</td>
                    <td class="hidden-480">@item.Name</td>
                    <td>@item.ID</td>
                    <td class="hidden-480">
                        @Html.Raw(item.State==1?"有效":"无效")
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>