﻿@{
    ViewBag.Title = "QuestionBankList";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "题库管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "资源管理", Href = "/resource/questionbanklist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@using NPoco
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@section header{
  <script type="text/javascript">
      function search(p) {
          var grade = $("#ddlGrade").val();
          var senddate = {
              url: '/resource/QuestionBankListResult',
              data: { page: p, grade: grade },
              success: function (d) {
                  $("#Container").html(d);
              }
          };
          ajaxCall(senddate);
      }

      function loadgrades() {
          var senddata = {
              url: '/common/getgrade',
              data: {},
              success: function (d) {
                  var html = "";
                  html += "<option value=''>全部</option>";
                  for (var i = 0; i < d.length; i++) {
                      html += "<option value='" + d[i].GradeID + "'>" + d[i].GradeName + "</option>";
                  }

                  $("#ddlGrade").html(html);
                  
              }
          };

          ajaxCall(senddata);
      }


      $(function () {
          loadgrades();
          search(1);
      });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/resource/questionbanklist" })
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>学段:</td>
            <td>
                <select name="GradeID" id="ddlGrade"></select>
            </td>
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary" style="margin-right:10px;" type="button" onclick="search(1);">
                    查询
                </button>

            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>