﻿@using NPoco
@using EduPlatform.Domain.System
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.SearchModel.Basal
@model Page<TeacherClassRoomModel.SubjectDetailInfo>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th class="center">
                    行号
                </th>
                <th>课程名称</th>
                <th>
                    学段
                </th>
                <th>英文名称</th>
                <th>课程编号</th>
                <th class="hidden-480">有效状态</th>
                <th class="hidden-480">操作</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr class="">
                    <td class="center">
                        @item.RowID
                    </td>
                    @if (item.IsDefault == 1)
                    {
                        <td style="background-color:orange">
                            @item.SubjectName
                        </td>
                    }
                    else
                    {
                        <td>@item.SubjectName</td>
                    }

                    <td>@item.GradeName</td>
                    <td>@item.SubjectCode</td>
                    <td>@item.SubjectID</td>
                    <td class="hidden-480">@Html.Raw(item.State == 1 ? "有效" : "无效")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-info" onclick="editSubject('@item.SubjectID');" title="修改课程信息">
                                <i class="icon-edit bigger-120" title="修改用户信息"></i>
                            </button>
                            <button class="btn btn-xs btn-success" onclick="setSubjectDefault('@item.SubjectID',1);" title="设为默认学科">
                                <i class="icon-chevron-right bigger-120"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page">
    @Html.AjaxPaging((int)Model.CurrentPage, (int)Model.TotalItems, (int)Model.TotalPages)
</div>