﻿@{

    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "课程编辑",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "课程管理", Href = "/unit/unitlist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}
@model TeacherClassRoomModel.ViewModel.SubjectEditViewModel
@using EduPlatform.Manage.Infrastructure
@using EduPlatform.Framework
@section header{
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/js/ztree/css/zTreeStyle/zTreeStyle.css" />
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="~/assets/js/ztree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript">


       $(function () {

           
       });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/unit/unitlist" })
}
<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="/resource/subjectedit" method="post">
        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> </label>
            <div class="col-sm-9" style="color:red">@ViewBag.Msg</div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 课程名称 </label>
            <div class="col-sm-9">
                <input value="@Model.SubjectInfo.Subject_Name" type="text" class="col-xs-10 col-sm-5" placeholder="课程名称" id="form-field-1" name="SubjectName">
                <input type="hidden" value="@Model.SubjectInfo.Subject_ID" name="subjectid" />
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 学段 </label>
            <div class="col-sm-9">

                @foreach (var g in Model.Grades.OrderBy(item => item.Grade_Index))
                {
                    <div class="checkbox" style="padding-top:0px;">
                        <label>
                            @if (Model.SubjectInfo.Subject_GradeID == g.Grade_ID)
                            {
                                <input type="radio" class="ace" name="grade" checked="checked" value="@g.Grade_ID">
                            }
                            else
                            {
                                <input type="radio" class="ace" name="grade" value="@g.Grade_ID">
                            }
                            <span class="lbl"> @g.Grade_Name </span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-4 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>
            </div>
        </div>

    </form>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:280px; height: 300px;"></ul>
</div>
