﻿@{
    ViewBag.Title = "SubjectList";
    Layout = "~/Views/Shared/_BaseManageLayoutPage.cshtml";

    NavigateInfo navigate = new NavigateInfo()
    {
        Name = "课程管理",
        IsHome = false,
        Parent = new List<NavigateInfo>() {
            new NavigateInfo(){
           Parent = null, IsHome = true, Name = "首页", Href = "/manage/index"
          },
          new NavigateInfo(){
           Parent = null, IsHome = false, Name = "资源管理", Href = "/resource/questionbanklist"
          }
        }
    };
    ViewBag.Title = navigate.Name;
}

@using EduPlatform.Manage.Infrastructure
@section header{
    <script type="text/javascript">
        function search(p) {
            var grade = $("#ddlGrade").val();
            var senddate = {
                url: '/resource/subjectlistresult',
                data: { page: p,grade:grade },
                success: function (d) {
                    $("#Container").html(d);
                }
            };

            ajaxCall(senddate);
        }

        function loadgrades() {
            var senddata = {
                url: '/common/getgrade',
                data: {},
                success: function (d) {
                    var html = "";
                    html += "<option value=''>全部</option>";
                    for (var i = 0; i < d.length; i++) {
                        html += "<option value='" + d[i].GradeID + "'>" + d[i].GradeName + "</option>";
                    }

                    $("#ddlGrade").html(html);

                }
            };

            ajaxCall(senddata);
        }

        function setSubjectDefault(subjectid){
            var senddate = {
                url: '/resource/setsubjectdefault',
                data: { 'subjectid': subjectid},
                success: function (d) {
                    if (d.Success) {
                        layer.msg('设置成功', { icon: 1 });
                        search(1);
                    }
                    else {
                        layer.msg('设置失败', { icon: 2 });
                    }
                }
            };

            ajaxCall(senddate);
        }

        function editSubject(subjectid) {
            window.location.href = "/resource/subjectedit?subjectid=" + subjectid;
        }

        function addSubject() {
            window.location.href = "/resource/subjectadd";
        }

        $(function () {
            loadgrades();
            search(1);
        });
    </script>
}
@section navigate{
    @Html.ShowTopNavigate(navigate)
}
@section pageheader{
    @Html.Partial("_PageHeader", navigate)
}
@section menus
{
    @Html.Action("Menus", "Manage", new { url = "/resource/subjectlist" })
}
<div class="col-xs-12">
    <table>
        <tr>
            <td>学段:</td>
            <td>
                <select name="GradeID" id="ddlGrade"></select>
            </td>
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary"  type="button" onclick="search(1);">
                    查询
                </button>
            </td>
            <td>
                <button class="width-135 bottom-left btn btn-sm btn-primary" type="button" onclick="addSubject();">
                    添加
                </button>
            </td>
            <td >
                <div style="background-color:orange;color:white;padding:5px;">默认学科</div>
            </td>
        </tr>
    </table>
</div>
<div class="col-xs-12" id="Container">
    <!-- /.table-responsive -->
</div>